<div class="primeng-datatable-container">

    <p-table class="table table-striped table-hover" #dt [value]="primengTableHelper.records" [lazy]="true"
        [totalRecords]="primengTableHelper.totalRecordsCount" [loading]="primengTableHelper.isLoading"
        [rows]="primengTableHelper.defaultRecordsCountPerPage" [paginator]="true"
        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" (onLazyLoad)="loadMyTasks($event)"
        [responsive]="primengTableHelper.isResponsive" [showCurrentPageReport]="true"
        [currentPageReportTemplate]="' عدد السطور'+ primengTableHelper.totalRecordsCount.toString()"
        [resizableColumns]="primengTableHelper.resizableColumns">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center" scope="col">{{'CommonModule.DashBoardRequestsService.RequestNumber' | localize}}
                </th>
                <th class="text-center" scope="col">{{'CommonModule.DashBoardRequestsService.RequestStatus' | localize}}
                </th>
                <th class="text-center" scope="col">{{'CommonModule.DashBoardRequestsService.RequestType' | localize}}
                </th>
                <th class="text-center" scope="col">{{'CommonModule.DashBoardRequestsService.RequestCreationDate' |
                    localize}}</th>
                <th class="text-center" scope="col">{{'CommonModule.DashBoardRequestsService.RequestUpdateDate' |
                    localize}}
                </th>

                <th class="text-center" scope="col">{{'CommonModule.DashBoardRequestsService.CompleteRequest' |
                    localize}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
            <tr>
                <td class="text-center" scope="col">
                    {{record?.requestNumber}}
                </td>
                <td class="text-center" scope="col">
                    {{ 'CommonModule.Lookups.RequestStatuses.'+record?.requestStatus.name| localize }}
                </td>
                <td class="text-center" scope="col">
                    {{ 'CommonModule.Lookups.RequestTypes.'+record?.requestType.name| localize }}
                </td>
                <td class="text-center" scope="col">
                    {{record?.submitionDate | date:'dd/MM/yyyy'}}
                </td>
                <td class="text-center" scope="col">
                    {{record?.requestStatus.lastUpdate | date:'dd/MM/yyyy'}}
                </td>


                <td class="text-center" scope="col">

                    <a class="btn btn-sm btn-outline-awq-secondary rounded" (click)="CompleteRequestMissingData(record?.serialNumber,record?.requestNumber,record?.allocatedUser,record?.requestStatusEn,record?.requestId,record?.requestType,record?.requestId)" >

                        <!-- <svg-icon class="mr-1" icon="fa-solid fa-circle-info"></svg-icon> -->

                        <span>اكمال الطلب</span>

                      </a>

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>