<div class="row row-cols-1 row-cols-md-2" >
    <div class="form-group col-12" >
      <div  *ngIf="!viewOnly" class="d-flex">
        <label class="col col-form-label">{{'Module1.awqafService.AssetIntellectualTypeLabel' | localize}}  <span class="text-danger">*</span></label>
        <hint  [hintContent]="Typehint?.hintContentAr"
        [hintTitle]="Typehint?.hintTitleAr"></hint>
      </div>
       <label [hidden]="!viewOnly" class="col-form-label">{{'Module1.awqafService.AssetIntellectualTypeLabel' | localize}}  </label>
      <input type="text" class="form-control" [minLength]="1" [maxLength]="250" [hidden]="viewOnly" #ipatType="ngModel"
      [pattern]="ePatternValidation.pattern_arabic_english_any_char_with_space_without_numbers"
        name="benefitType" [(ngModel)]="assetInfoModel.intellectualPropertyAndTrademarkAsset.ipatType" required>
  
        <label class="col-form-label font-weight-bold" [hidden]="!viewOnly">&nbsp;{{assetInfoModel.intellectualPropertyAndTrademarkAsset.ipatType}} </label>
  
      <div *ngIf="ipatType.invalid && (ipatType.dirty || ipatType.touched)" class="">
        <p *ngIf="ipatType.errors?.['required']" class="text-danger pt-1 small"> {{'Module1.awqafService.AssetIntellectualRequiredValidationLabel' | localize}}</p>
        <p *ngIf="ipatType.errors?.['pattern']" class="text-danger pt-1 small">{{'Module1.awqafService.AssetIntellectualCharacterValidationLabel' | localize}} </p>
  
      </div>
    </div>
    <div class="form-group col-12">
      <label class="col-form-label">{{'Module1.awqafService.AssetIntellectualDescLabel' | localize}} </label>
      <textarea [rows]="5" cols="10" class="form-control" 
      [pattern]="ePatternValidation.pattern_arabic_english_any_char_with_space_without_numbers"
      #ipatDescription="ngModel" name="ipatDescription"  [(ngModel)]="assetInfoModel.intellectualPropertyAndTrademarkAsset.ipatDescription"  [hidden]="viewOnly">
      </textarea>
      <label class="col-form-label font-weight-bold" [hidden]="!viewOnly">&nbsp;{{assetInfoModel.intellectualPropertyAndTrademarkAsset.ipatDescription}} </label>
      <div *ngIf="ipatDescription.invalid && (ipatDescription.dirty || ipatDescription.touched)" class="">
        
        <p *ngIf="ipatDescription.errors?.['pattern']" class="text-danger pt-1 small">{{'Module1.awqafService.AssetIntellectualCharacterValidationLabel' | localize}} </p>
  
      </div>
    </div>
    <div class="form-group col" >
      <label  class="col-form-label">{{'Module1.awqafService.AssetIntellectualAmountLabel' | localize}} </label>
  
      <input type="text" class="form-control" [hidden]="viewOnly" [minLength]="1" [maxLength]="10" #ipatValue="ngModel"
      onkeypress="return event.charCode == 8 || event.charCode == 0 ? null :  event.charCode >= 45 && event.charCode <= 57"
        name="ipatValue" [(ngModel)]=assetInfoModel.intellectualPropertyAndTrademarkAsset.ipatValue
        [pattern]="ePatternValidation.pattern_decimal_values">
        <label class="col-form-label font-weight-bold" [hidden]="!viewOnly">&nbsp;{{assetInfoModel.intellectualPropertyAndTrademarkAsset.ipatValue}} </label>
      <div
        *ngIf="ipatValue.invalid && (ipatValue.dirty || ipatValue.touched)"
        class="">
  
        <p *ngIf="ipatValue.errors?.['pattern']" class="text-danger pt-1 small">
          {{'Module1.awqafService.AssetIntellectualNumberValidationLabel' | localize}}
           </p>
      </div>
    </div>
    <div class="form-group col" >
      <label class="col-form-label">{{'Module1.awqafService.IsDirectAssetBenefitLabel' | localize}}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
      <select class="custom-select" #isDirectedBenefit="ngModel" name="isDirectedBenefit" [(ngModel)]=assetInfoModel.intellectualPropertyAndTrademarkAsset.isDirectedBenefit
        [hidden]="viewOnly" required>
        <option [ngValue]=undefined ></option>
        <option [ngValue]=true >{{'Module1.awqafService.yes' | localize}}</option>
        <option [ngValue]=false >{{'Module1.awqafService.no' | localize}}</option>
      </select>
      <label class="col-form-label font-weight-bold" *ngIf="assetInfoModel.intellectualPropertyAndTrademarkAsset.isDirectedBenefit"
        [hidden]="!viewOnly">&nbsp; {{'Module1.awqafService.yes' | localize}} </label>
        <label class="col-form-label font-weight-bold" *ngIf="!assetInfoModel.intellectualPropertyAndTrademarkAsset.isDirectedBenefit"
        [hidden]="!viewOnly">&nbsp; {{'Module1.awqafService.no' | localize}} </label>
      <div *ngIf="isDirectedBenefit.invalid && (isDirectedBenefit.dirty || isDirectedBenefit.touched)" class="">
        <p *ngIf="isDirectedBenefit.errors" class="text-danger pt-1 small"> {{'Module1.awqafService.isDirectedBenefitSelectedLabel' | localize}}</p>
      </div>
    </div>
  </div>
  