<div class="bg-white p-5" *ngIf="!!requestId">

  <ngb-accordion [closeOthers]="false">
    <ngb-panel id="static-1" title="معلومات المتقدم">
      <ng-template ngbPanelContent>
        <app-endowment-applicant-CreateOrEdit [ViewOnly]="true"></app-endowment-applicant-CreateOrEdit>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="{{'EndowmentModule.EndowmentRgistrationService.EndowmentInfoStepTitle' | localize}}">
      <ng-template ngbPanelContent>
        <app-endowment-info-readonly></app-endowment-info-readonly>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="{{'EndowmentModule.EndowmentRgistrationService.EndowmentAssetsStepTitle' | localize}}">
      <ng-template ngbPanelContent>
        <app-endowment-shared-asset-edit [requestId]="requestId" [viewOnly]="true"></app-endowment-shared-asset-edit>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-8" title="{{'EndowmentModule.EndowmentRgistrationService.EndowmersStepTitle' | localize}}">
      <ng-template ngbPanelContent>
        <app-endowment-endowers-list [requestId]="requestId" [viewOnly]="true"></app-endowment-endowers-list>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-9" title="{{'EndowmentModule.EndowmentRgistrationService.EndowmentSeersStepTitle' | localize}}">
      <ng-template ngbPanelContent>
        <app-seer-step [requestId]="requestId" [viewOnly]="true"></app-seer-step>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-10" title="{{'EndowmentModule.EndowmentRgistrationService.EndowmentBenificiarisStepTitle' | localize}}">
      <ng-template ngbPanelContent>
        <app-beneficiary-step [requestId]="requestId" [viewOnly]="true"></app-beneficiary-step>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div>
    <div>
      <button type="button" (click)="Back()" class="btn btn-awq-secondary">
        {{
        "EndowmentModule.EndowmentRgistrationService.ButtonPreviouse" | localize
        }}
      </button>
    </div>
  </div>
</div>

