################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/workspace/projects/.vs
/workspace/projects/public-portal/src/app/modules/shared/services/services-proxies/service-proxies.ts
