<div class="row row-cols-1 row-cols-md-2">
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetAnimalOrAgriculturalRegion"
      | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
      <div>
        <label class="col-form-label font-weight-bold" *ngIf="regionLookup.length>0 && viewOnly">&nbsp;{{regionLookup[assetInfoModel.animalOrAgriculturalAsset.regionId -1 ].name}}
        </label>
      </div>
    <p-dropdown [required]="true" [options]="regionLookup" [hidden]="viewOnly" [filter]="true" filterBy="name" [showClear]="true" name="regionId"
    #regionId="ngModel" (onChange)="getcityLookup($event)"
    [(ngModel)]="assetInfoModel.animalOrAgriculturalAsset.regionId" optionLabel="name" optionValue="id"
    [placeholder]="
      l(
        'Common.Choose',
        l('EndowmentModule.EndowmentRgistrationService.AssetAnimalOrAgriculturalRegion')
      )
    "></p-dropdown>
  <app-validationMessages relatedControlName="regionId"
    [control]="regionId" [validationMessages]="[
      {
        ruleName: 'required',
        ruleMessage: l(
          'Common.Required',
          l('EndowmentModule.EndowmentRgistrationService.AssetAnimalOrAgriculturalRegion')
        )
      }
    ]">
  </app-validationMessages>
  </div>
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetAnimalOrAgriculturalCity"
      | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
      <div>
    <label class="col-form-label font-weight-bold" *ngIf="regionLookup.length>0 && viewOnly">&nbsp;{{
      getCityValue(assetInfoModel.animalOrAgriculturalAsset.cityId)
      }}
    </label>
  </div>
    <p-dropdown [required]="true" [options]="cityLookup" [disabled]="cityDisabled" [hidden]="viewOnly" [filter]="true" filterBy="name"  [showClear]="true" name="cityId"
    #cityId="ngModel"
    [(ngModel)]="assetInfoModel.animalOrAgriculturalAsset.cityId" optionLabel="name" optionValue="id"
    [placeholder]="
      l(
        'Common.Choose',
        l('EndowmentModule.EndowmentRgistrationService.AssetAnimalOrAgriculturalCity')
      )
    "></p-dropdown>
  <app-validationMessages relatedControlName="cityId"
    [control]="cityId" [validationMessages]="[
      {
        ruleName: 'required',
        ruleMessage: l(
          'Common.Required',
          l('EndowmentModule.EndowmentRgistrationService.AssetAnimalOrAgriculturalCity')
        )
      }
    ]">
  </app-validationMessages>
  </div>
</div>
