<!-- <lib-login-demo></lib-login-demo>
<lib-assets-demo></lib-assets-demo>

<p-button label="Submit"></p-button> -->


<div class="d-flex flex-column min-vh-100">

    <!-- HEADER & SETTING -->
     <app-header></app-header>
  
    <!-- CONTENT (ROUTER OUTLET) -->
    <div class="flex-grow-1 shape-bg">
      <div class="container layoutContainer">
        <!-- <lib-breadcrumb></lib-breadcrumb> -->
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  
    <!-- FOOTER & COPYRIGHTS -->
<app-footer></app-footer>
  
  </div>