<!-- <lib-login-demo></lib-login-demo>
<lib-assets-demo></lib-assets-demo>
<lib-core-lib></lib-core-lib>
<legend> title: {{title | localize: { name: 'محمد', age:30, gender:"ذكر"} }}</legend>

<p-button label="Submit"></p-button> -->


<div class="d-flex flex-column min-vh-100">

    <!-- HEADER & SETTING -->
     <app-header></app-header>
  
    <!-- CONTENT (ROUTER OUTLET) -->
    <div class="flex-grow-1 shape-bg">
      <div class="container layoutContainer">
        <!-- <lib-breadcrumb></lib-breadcrumb> -->
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  
    <!-- FOOTER & COPYRIGHTS -->
<app-footer></app-footer>
  
  </div>
<legend> Module1.awqafService.tttt: {{'Module1.awqafService.tttt' | localize: { name: 'mohamed', age:30, sta:5} }}</legend>
<legend> Module1.awqafService.tttt: {{'Module1.awqafService.idNumber' | localize}}</legend>

<lib-loacalization-base></lib-loacalization-base>

<p-button label="Submit"></p-button>
