<div class="container">
  <div class="row my-6 bg-white">

    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="nic-box">
        <h2 class="font-weight-bold">النفاذ الوطني الموحد</h2>
        <p class="text-black-50">عزيزنا العميل يمكنك الدخول عن طريق اسم المستخدم و كلمة المرور المستخدمة في منصة النفاذ
          الوطني</p>
        <div class="swatch-100 p-6">
          <img class="mt-4" src="assets/images/nic-logo.png" alt="">
          <button id="imaLogin" type="submit" class="btn btn-awq-secondary mt-5 px-3"
                  (click)="redirectToPublicLoginPage()">الدخول عن طريق منصة النفاذ الموحد
          </button>
        </div>
      </div>
    </div>

    <div class="col-6">
      <img src="assets/images/nic.jpg" alt="">
    </div>
  </div>
</div>

