<div class="row">
  <div class="col-md-8">

    <!-- Section Title -->
    <div class="mt-4">
      <h3 class="text-awq-primary my-3">
          <!-- <svg-icon styleClass="mr-2" icon="title-arrow"></svg-icon> -->
          خدمة تسجيل وقف
      </h3>
    </div>

    <p>تسجيل الاوقاف بشكل رسمي لدى الهيئة لتمكينها من الاستفادة من خدمات الهيئة وتيسير الحصول على العديد من الخدمات اللازمة لممارسة أنشطتها، ويندرج ضمن هذه الخدمة القيام بإصدار/ تجديد / إلغاء شهادة </p>

    <div class="row row-cols-1 row-cols-lg-2 mt-6">

      <div class="form-group col">
        <div class="d-flex w-100 bg-white rounded-lg p-4">
          <!-- <svg-icon styleClass="fa-w-20 h1 text-awq-secondary" icon="home-a"></svg-icon> -->
          <div class="ml-3">
            <h2 class="text-warning">الفئة المستهدفة</h2>
            <p class="text-black-50 mb-0">أفراد ومنشئات</p>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <div class="d-flex w-100 bg-white rounded-lg p-4">
          <!-- <svg-icon styleClass="fa-w-20 h1 text-awq-secondary" icon="home-b"></svg-icon> -->
          <div class="ml-3">
            <h2 class="text-warning">قنوات تقديم الخدمة</h2>
            <p class="text-black-50 mb-0">الموقع الالكتروني</p>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <div class="d-flex w-100 bg-white rounded-lg p-4">
          <!-- <svg-icon styleClass="fa-w-20 h1 text-awq-secondary" icon="home-c"></svg-icon> -->
          <div class="ml-3">
            <h2 class="text-warning">المستندات المطلوبة</h2>
            <p class="text-black-50 mb-0">لوريم ايبسوم - نموذج افتراضي</p>
          </div>
        </div>
      </div>
      <div class="form-group col">
        <div class="d-flex w-100 bg-white rounded-lg p-4">
          <!-- <svg-icon styleClass="fa-w-20 h1 text-awq-secondary" icon="home-d"></svg-icon> -->
          <div class="ml-3">
            <h2 class="text-warning">مدة تنفيذ الخدمة</h2>
            <p class="text-black-50 mb-0">لوريم ايبسوم - نموذج افتراضي</p>
          </div>
        </div>
      </div>


    </div>

    <!-- Section Title -->
    <div class="mt-6 mb-5">
      <h3 class="text-awq-secondary my-3">
          <img class="mr-2" src="assets/images/list-1.svg" alt="">
          الهدف من الخدمة
      </h3>
    </div>

    <ul class="list-unstyled text-muted">
      <li class="mb-2">1- لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم </li>
      <li class="mb-2">2- سواء كانت تصاميم مطبوعه او نماذج مواقع انترنت وعند موافقه </li>
      <li class="mb-2">3- لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع </li>
      <li class="mb-2">4- سواء كانت تصاميم مطبوعه او نماذج مواقع انترنت وعند موافقه </li>
      <li class="mb-2">5- لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور</li>
    </ul>


    <!-- Section Title -->
    <div class="mt-6 mb-5">
      <h3 class="text-awq-secondary my-3">
          <img class="mr-2" src="assets/images/list-2.svg" alt="">
          بيانات الإتصال
      </h3>
    </div>

    <ul class="list-unstyled text-muted">
      <p>لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم</p>
      <li class="mb-2">
        <!-- <svg-icon styleClass="" icon="phone-flip"></svg-icon>  -->
        هاتف رقم <b class="text-awq-secondary">8003030066</b></li>
      <li class="mb-2">
        <!-- <svg-icon styleClass="" icon="twitter"></svg-icon>  -->
        حساب العناية بالعملاء تويتر <b class="text-awq-secondary">@awqafcare</b></li>
      <li class="mb-2">
        <!-- <svg-icon styleClass="" icon="mail"></svg-icon>  -->
        البريد الإلكتروني للعناية بالعملاء <b class="text-awq-secondary">csc@awqaf.gov.sa</b></li>
      <div>
        <span>كما يمكنك التواصل معنا في حال واجتك أي مشاكل بالخدمة من خلال</span>
        <a class="font-weight-bold border-0 btn btn-outline-awq-secondary btn-sm ml-2" href="">هذا الرابط</a>
      </div>
    </ul>





    <!-- Section Title -->
    <div class="mt-6 mb-5">
      <h3 class="text-awq-secondary my-3">
          <img class="mr-2" src="assets/images/list-3.svg" alt="">
          خطوات تنفيذ الخدمة
      </h3>
    </div>

  </div>
  <div class="col-md-4">
    <div class="bg-white mt-5 px-5 py-6 mb-5 mb-md-5">
      <h2 class="mb-4 text-awq-secondary">رابط الدخول على الخدمة</h2>
      <a [routerLink]="['registrationform']" class="btn btn-block btn-lg py-3 btn-awq-primary px-5">
        ابدأ الخدمة
        <!-- <svg-icon styleClass="ml-2" icon="arrow-left"></svg-icon> -->
      </a>
    </div>
  </div>
</div>

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 text-center mb-6">
  <div class="form-group col step">
    <div class="step-img">
      <img src="assets/images/step-1.svg" alt="">
    </div>
    <p>الدخول على موقع الهيئة العامة للأوقاف</p>
  </div>

  <div class="form-group col step">
    <div class="step-img">
      <img src="assets/images/step-2.svg" alt="">
    </div>
    <p>تسجيل الدخول</p>
  </div>

  <div class="form-group col step">
    <div class="step-img">
      <img src="assets/images/step-3.svg" alt="">
    </div>
    <p>اختيار خدمة تسجيل وقف</p>
  </div>

  <div class="form-group col step">
    <div class="step-img">
      <img src="assets/images/step-4.svg" alt="">
    </div>
    <p>تعبئة نموذج تسجيل وقف</p>
  </div>

  <div class="form-group col step">
    <div class="step-img">
      <img src="assets/images/step-5.svg" alt="">
    </div>
    <p>التحقق من إتمام جميع المتطلبات</p>
  </div>

  <div class="form-group col step">
    <div class="step-img">
      <img src="assets/images/step-6.svg" alt="">
    </div>
    <p>استلام رسالة نصية تفيد بنتيجة التسجيل</p>
  </div>
</div>
