<div class="d-flex justify-content-center my-6" *ngIf="!this.Assets || this.Assets?.length === 0">
  <a href="javascript:void(0)" class="addBox my-6 py-3 col-xl-5" (click)="onAddNewAssetClicked(addData)"
    *ngIf="!viewOnly">
    <!-- <svg-icon styleClass="fa-3x mr-3 mb-2 " icon="add-icon"></svg-icon> -->
    <!-- <span>يجب إضافة أصل واحد على الأقل</span> -->
    <span>{{
      "EndowmentModule.EndowmentRgistrationService.AssetAdditionConditionLabel"
      | localize
      }}</span>
  </a>
</div>

<div *ngIf="!!this.Assets && this.Assets!.length > 0">
  <div class="table-responsive mt-2">
    <div>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <td class="text-center" scope="col">#</td>
            <td class="text-center" scope="col">
              {{
              "EndowmentModule.EndowmentRgistrationService.AssetTypeLabel"
              | localize
              }}
            </td>
            <td class="text-center" scope="col" *ngIf="viewOnly">
              {{
              "EndowmentModule.EndowmentRgistrationService.ReviewAssetBtnLabel"
              | localize
              }}
            </td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">
              {{
              "EndowmentModule.EndowmentRgistrationService.EditAssetBtnLabel"
              | localize
              }}
            </td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">
              {{
              "EndowmentModule.EndowmentRgistrationService.DeleteAssetBtnLabel"
              | localize
              }}
            </td>
            <!-- <td class="text-center" scope="col">نوع الأصل</td>
            <td class="text-center" scope="col" *ngIf="viewOnly">مراجعة</td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">تعديل</td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">حذف</td> -->
          </tr>
        </thead>
        <!--   ==============    if the have result ============== -->
        <tbody>
          <tr *ngFor="let foundAsset of this.Assets; index as i">
            <td class="text-center" scope="col">
              {{ i + 1 }}
            </td>
            <td class="text-center" scope="col">
              {{ assetTypeMap[foundAsset.assetTypeId!] }}
            </td>
            <td class="text-center" scope="col" *ngIf="viewOnly">
              <button class="btn btn-sm btn-outline-awq-secondary rounded"
                (click)="onViewTableCellClicked(addData, foundAsset.id)" [hidden]="!viewOnly">
                <!-- <svg-icon icon="eye"></svg-icon> -->
              </button>
            </td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">
              <button class="btn btn-sm btn-outline-awq-secondary rounded"
                (click)="onEditTableCellClicked(addData, foundAsset.id)" *ngIf="!viewOnly">
                <!-- <svg-icon icon="pencil"></svg-icon> -->
              </button>
            </td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">
              <button class="btn btn-sm btn-outline-danger rounded" (click)="onDeleteTableCellClicked(foundAsset, i)"
                *ngIf="!viewOnly">
                <!-- <svg-icon icon="trash-alt"></svg-icon> -->
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-end my-6">
    <a href="javascript:void(0)" class="btn btn-outline-awq-secondary px-6 border-0 shadow-sm"
      (click)="onAddNewAssetClicked(addData)" *ngIf="!viewOnly">
      <!-- <svg-icon styleClass="h1 mr-2" icon="add-icon"></svg-icon> -->
      <!-- <span>إضافة أصل آخر</span> -->
      <span>{{
        "EndowmentModule.EndowmentRgistrationService.AddNewAssetLabel"
        | localize
        }}</span>
    </a>
  </div>
</div>

<ng-template #addData let-modal>
  <form name="form" #assetForm="ngForm">
    <div class="modal-header">
      <!-- <h2>بيانات الأصل</h2> -->
      <h2>
        {{
        "EndowmentModule.EndowmentRgistrationService.AssetDetailsLabel"
        | localize
        }}
      </h2>
    </div>
    <div class="modal-body">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="form-group col">
          <!-- <label class="col-form-label block">نوع الأصل<span class="text-danger">*</span></label> -->
          <label class="col-form-label block">{{
            "EndowmentModule.EndowmentRgistrationService.AssetTypeLabel"
            | localize
            }}<span class="text-danger">*</span></label>
          <select class="custom-select" [hidden]="viewOnly" #assetTypeId="ngModel" [disabled]="this.isEditRequested"
            (change)="changeAssetType()" name="assetTypeId" [(ngModel)]="newAsset!.assetTypeId" required>
            <!-- <option [value]="null" selected></option> -->
            <option *ngFor="let assetType of AssetTypeLookup" value="{{ assetType.id }}">
              {{ assetType.name }}
            </option>
          </select>

          <!-- <label class="col-form-label font-weight-bold"
            [hidden]="!viewOnly">&nbsp;{{resolveLookup(newAsset.assetTypeId,AssetTypeLookup)}} </label> -->

          <!-- <div *ngIf="assetTypeId.invalid && (assetTypeId.dirty || assetTypeId.touched)" class=""> -->
          <!-- <p *ngIf="assetTypeId.errors" class="text-danger pt-1 small">نوع الأصل مطلوب</p> -->
          <!-- <p *ngIf="assetTypeId.errors" class="text-danger pt-1 small">{{'EndowmentModule.EndowmentRgistrationService.RequiredAssetTypeValidationlabel' | localize}}</p>
          </div> -->
        </div>

        <!-- <div *ngIf="viewOnly" class="form-group col col-12">
          <label class="col-form-label font-weight-bold"
            [hidden]="!viewOnly">&nbsp;{{resolveLookup(newAsset.assetSizeId,AssetSizeLookup)}} </label>
        </div> -->
      </div>

      <app-shared-business-entity-asset #businessEntityAsset *ngIf="newAsset?.assetTypeId == 1" [viewOnly]="viewOnly"
        [AssetTypeId]="newAsset!.assetTypeId" [(ngModel)]="newAsset!.businessEntityAsset" [assetInfoModel]="newAsset!">
      </app-shared-business-entity-asset>
      <app-shared-realestate-asset #realEstateAsset *ngIf="newAsset?.assetTypeId == 2" [viewOnly]="viewOnly"
        [AssetTypeId]="newAsset!.assetTypeId" [(ngModel)]="newAsset!.realEstateAsset"
        [assetInfoModel]="newAsset!"></app-shared-realestate-asset>
      <app-shared-fiscal-asset #fiscalAsset *ngIf="newAsset?.assetTypeId == 3" [viewOnly]="viewOnly"
        [AssetTypeId]="newAsset!.assetTypeId" [(ngModel)]="newAsset!.fiscalAsset"
        [assetInfoModel]="newAsset!"></app-shared-fiscal-asset>
      <app-shared-movable-asset #movableAsset *ngIf="newAsset?.assetTypeId == 4" [viewOnly]="viewOnly"
        [AssetTypeId]="newAsset!.assetTypeId" [(ngModel)]="newAsset!.movableAsset"
        [assetInfoModel]="newAsset!"></app-shared-movable-asset>
      <app-shared-monetary-asset #monetaryAsset *ngIf="newAsset?.assetTypeId == 5" [assetSubTypes]="assetSubTypes"
        [viewOnly]="viewOnly" [AssetTypeId]="newAsset!.assetTypeId" [(ngModel)]="newAsset!.monetaryAsset"
        [assetInfoModel]="newAsset!"></app-shared-monetary-asset>

      <app-shared-animal-or-agricultural-asset #animalOrAgriculturalAsset *ngIf="newAsset?.assetTypeId == 6"
        [viewOnly]="viewOnly" [AssetTypeId]="newAsset!.assetTypeId" [(ngModel)]="newAsset!.animalOrAgriculturalAsset"
        [assetInfoModel]="newAsset!"></app-shared-animal-or-agricultural-asset>

      <app-shared-particular-benefit-asset #particularBenefitAsset *ngIf="newAsset?.assetTypeId == 7"
        [viewOnly]="viewOnly" [AssetTypeId]="newAsset!.assetTypeId" [(ngModel)]="newAsset!.particularBenefitAsset"
        [assetInfoModel]="newAsset!"></app-shared-particular-benefit-asset>
      <app-shared-intellectual-property-and-trademark-asset #intellectualPropertyAndTrademarkAsset
        *ngIf="newAsset?.assetTypeId == 8" [viewOnly]="viewOnly" [AssetTypeId]="newAsset!.assetTypeId"
        [(ngModel)]="newAsset!.intellectualPropertyAndTrademarkAsset"
        [assetInfoModel]="newAsset!"></app-shared-intellectual-property-and-trademark-asset>
    </div>
    <ng-container *ngIf="!isEditRequested && !viewOnly">
      <div class="modal-footer justify-content-center">
        <!-- <button type="button" class="btn btn-awq-secondary px-6"
          [disabled]="assetForm.form?.invalid" (click)="onAddBtnClicked()">
          {{'EndowmentModule.EndowmentRgistrationService.AddASubssetBtnLabel' | localize}}</button> -->
        <!-- <svg-icon styleClass="ml-1 small" icon="plus"></svg-icon> -->
      </div>
    </ng-container>
    <ng-container *ngIf="isEditRequested && !viewOnly">
      <div class="modal-footer justify-content-between">
        <!-- <button type="button" class="btn btn-warning px-6"
          [disabled]="assetForm.form?.invalid" (click)="onEditBtnClicked()">
          {{'EndowmentModule.EndowmentRgistrationService.EditSubAssetBtnLabel' | localize}}
        </button> -->
        <button type="button" class="btn btn-outline-awq-secondary px-6" [disabled]="!isNewOrEditAssetValid()"
          (click)="onCancelBtnClicked()">
          {{
          "EndowmentModule.EndowmentRgistrationService.CancelSubAssetBtnLabel"
          | localize
          }}
        </button>
      </div>
    </ng-container>
  </form>
</ng-template>
