<div class="d-flex justify-content-center my-6" *ngIf="!this.Assets || this.Assets?.length === 0">
  <a href="javascript:void(0)" class="addBox my-6 py-3 col-xl-5" (click)="onAddNewAssetClicked(addData)"
    *ngIf="!viewOnly">
    <!-- <svg-icon styleClass="fa-3x mr-3 mb-2 " icon="add-icon"></svg-icon> -->
    <!-- <span>يجب إضافة أصل واحد على الأقل</span> -->
    <span>{{
      "EndowmentModule.EndowmentRgistrationService.AssetAdditionConditionLabel"
      | localize
      }}</span>
  </a>
</div>

<div class="d-flex justify-content-end my-6">
  <a href="javascript:void(0)" class="btn btn-outline-awq-secondary px-6 border-0 shadow-sm"
    (click)="onAddNewAssetClicked(addData)" *ngIf="!viewOnly">
    <!-- <svg-icon styleClass="h1 mr-2" icon="add-icon"></svg-icon> -->
    <!-- <span>إضافة أصل آخر</span> -->
    <span>{{
      "EndowmentModule.EndowmentRgistrationService.AddNewAssetLabel"
      | localize
      }}</span>
  </a>
</div>

<div *ngIf="!!this.Assets && this.Assets?.length > 0">



  <p-table class="table table-striped table-hover" #dt [value]="primengTableHelper.records"
  [totalRecords]="primengTableHelper.totalRecordsCount" [loading]="primengTableHelper.isLoading"
  [rows]="primengTableHelper.defaultRecordsCountPerPage" [paginator]="true"
  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
  [responsive]="primengTableHelper.isResponsive" [showCurrentPageReport]="true"
  [currentPageReportTemplate]="' عدد السطور'+ primengTableHelper.totalRecordsCount.toString()"
  [resizableColumns]="primengTableHelper.resizableColumns">
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">
        {{
        "EndowmentModule.EndowmentRgistrationService.AssetTypeLabel"
        | localize
        }}
      </th>
      <th class="text-center" scope="col">
        {{
        "EndowmentModule.EndowmentRgistrationService.ReviewAssetBtnLabel"
        | localize
        }}
      </th>
      <th class="text-center" scope="col" *ngIf="!viewOnly">
        {{
        "EndowmentModule.EndowmentRgistrationService.EditAssetBtnLabel"
        | localize
        }}
      </th>
      <th class="text-center" scope="col" *ngIf="!viewOnly">
        {{
        "EndowmentModule.EndowmentRgistrationService.DeleteAssetBtnLabel"
        | localize
        }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
      <tr>
          <td class="text-center" scope="col">
            {{ i + 1 }}
          </td>
          <td class="text-center" scope="col">
            {{ getAssetType(record.assetTypeId!) | localize }}
          </td>
          <td class="text-center" scope="col">
            <button class="btn btn-sm btn-outline-awq-secondary rounded"
              (click)="onViewTableCellClicked(addData, i)" >
              <svg-icon icon="eye"></svg-icon>
            </button>
          </td>
          <td class="text-center" scope="col" *ngIf="!viewOnly">
            <button class="btn btn-sm btn-outline-awq-secondary rounded"
              (click)="onEditTableCellClicked(addData, i)">
              <svg-icon icon="pencil"></svg-icon>
            </button>
          </td>
          <td class="text-center" scope="col" *ngIf="!viewOnly">
            <button class="btn btn-sm btn-outline-danger rounded" (click)="onDeleteTableCellClicked(i)">
              <svg-icon icon="trash-alt"></svg-icon>
            </button>
          </td>
      </tr>
  </ng-template>
</p-table>




</div>

<ng-template #addData let-modal>
  <form name="form" #assetForm="ngForm" *ngIf="AssetTypeLookup">
    <div class="modal-header">
      <!-- <h2>بيانات الأصل</h2> -->
      <h2>
        {{
        "EndowmentModule.EndowmentRgistrationService.AssetDetailsLabel"
        | localize
        }}
      </h2>
    </div>
    <div class="modal-body">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="form-group col" *ngIf="AssetTypeLookup">
          <!-- <label class="col-form-label block">نوع الأصل<span class="text-danger">*</span></label> -->
          <label class="col-form-label block">{{
            "EndowmentModule.EndowmentRgistrationService.AssetTypeLabel"
            | localize
            }}<span class="text-danger" *ngIf="!isViewRequested">*</span></label>
            <div>
              <label class="col-form-label font-weight-bold" *ngIf="isViewRequested">&nbsp;{{
                AssetTypeLookup[newAsset!.assetTypeId - 1]?.name
                }}
              </label>
            </div>
          <p-dropdown [required]="true" [options]="AssetTypeLookup" [hidden]="isViewRequested" [showClear]="true" name="assetTypeId"
          #assetTypeId="ngModel" (onChange)="changeAssetType()"
          [(ngModel)]="newAsset!.assetTypeId" optionLabel="name" optionValue="id"
          [placeholder]="
            l(
              'Common.Choose',
              l('EndowmentModule.EndowmentRgistrationService.AssetTypeLabel')
            )
          "></p-dropdown>
        <app-validationMessages relatedControlName="assetTypeId"
          [control]="assetTypeId" [validationMessages]="[
            {
              ruleName: 'required',
              ruleMessage: l(
                'Common.Required',
                l('EndowmentModule.EndowmentRgistrationService.AssetTypeLabel')
              )
            }
          ]">
        </app-validationMessages>
        </div>


      </div>

      <app-shared-business-entity-asset name="businessEntityAsset"
        *ngIf="newAsset?.assetTypeId == 1" [viewOnly]="isViewRequested" [AssetTypeId]="newAsset!.assetTypeId" [assetSubTypes]="assetsSubTypeLookup"
        [assetInfoModel]="newAsset!">
      </app-shared-business-entity-asset>
      <app-shared-realestate-asset *ngIf="newAsset?.assetTypeId == 2" [viewOnly]="isViewRequested" [assetSubTypes]="assetsSubTypeLookup"
        [AssetTypeId]="newAsset!.assetTypeId" name="realEstateAsset"
        [assetInfoModel]="newAsset!"></app-shared-realestate-asset>
      <app-shared-fiscal-asset *ngIf="newAsset?.assetTypeId == 3" [viewOnly]="isViewRequested" [assetSubTypes]="assetsSubTypeLookup"
        [AssetTypeId]="newAsset!.assetTypeId" name="fiscalAsset"
        [assetInfoModel]="newAsset!"></app-shared-fiscal-asset>
      <app-shared-movable-asset *ngIf="newAsset?.assetTypeId == 4" [viewOnly]="isViewRequested" [assetSubTypes]="assetsSubTypeLookup"
        [AssetTypeId]="newAsset!.assetTypeId" name="movableAsset"
        [assetInfoModel]="newAsset!"></app-shared-movable-asset>
      <app-shared-monetary-asset *ngIf="newAsset?.assetTypeId == 5" [viewOnly]="isViewRequested" [assetSubTypes]="assetsSubTypeLookup"
        [AssetTypeId]="newAsset!.assetTypeId" name="monetaryAsset"
        [assetInfoModel]="newAsset!"></app-shared-monetary-asset>

      <app-shared-animal-or-agricultural-asset *ngIf="newAsset?.assetTypeId == 6"
        [viewOnly]="isViewRequested" [AssetTypeId]="newAsset!.assetTypeId"
        name="animalOrAgriculturalAsset" [assetInfoModel]="newAsset!"></app-shared-animal-or-agricultural-asset>

      <app-shared-particular-benefit-asset *ngIf="newAsset?.assetTypeId == 7" [assetSubTypes]="assetsSubTypeLookup"
        [viewOnly]="isViewRequested" [AssetTypeId]="newAsset!.assetTypeId"
        name="particularBenefitAsset" [assetInfoModel]="newAsset!"></app-shared-particular-benefit-asset>
      <app-shared-intellectual-property-and-trademark-asset
        *ngIf="newAsset?.assetTypeId == 8" [viewOnly]="isViewRequested" [AssetTypeId]="newAsset!.assetTypeId" [assetSubTypes]="assetsSubTypeLookup"
        name="intellectualPropertyAndTrademarkAsset"
        [assetInfoModel]="newAsset!"></app-shared-intellectual-property-and-trademark-asset>

        <div>
          <!-- <label class="col-form-label block">نوع الأصل<span class="text-danger">*</span></label> -->
          <label class="col-form-label block">{{
            "EndowmentModule.EndowmentRgistrationService.AssetDescription"
            | localize
            }}</label>
            <textarea [rows]="5" cols="10" class="form-control" [pattern]="
            ePatternValidation.pattern_arabic_english_any_char_with_space_without_numbers
          " #assetDescription="ngModel" name="assetDescription" [(ngModel)]="newAsset!.assetDescription" *ngIf="!isViewRequested">
        </textarea>
        <label class="col-form-label font-weight-bold" [hidden]="!isViewRequested">&nbsp;{{
          newAsset!.assetDescription
          }}
        </label>
        </div>

    </div>
    <ng-container *ngIf="isAddRequested">
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-awq-secondary px-6" [disabled]="assetForm.form?.invalid"
          (click)="onAddBtnClicked()">
          {{'EndowmentModule.EndowmentRgistrationService.AddASubssetBtnLabel' | localize}}</button>
        <!-- <svg-icon styleClass="ml-1 small" icon="plus"></svg-icon> -->
      </div>
    </ng-container>
    <ng-container *ngIf="isEditRequested">
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-warning px-6" [disabled]="assetForm.form?.invalid"
          (click)="onEditBtnClicked()">
          {{'EndowmentModule.EndowmentRgistrationService.EditSubAssetBtnLabel' | localize}}
        </button>
        <button type="button" class="btn btn-outline-awq-secondary px-6" [disabled]="!isNewOrEditAssetValid()"
          (click)="onCancelBtnClicked()">
          {{
          "EndowmentModule.EndowmentRgistrationService.CancelSubAssetBtnLabel"
          | localize
          }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="isViewRequested">
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-awq-secondary px-6"
          (click)="onCancelBtnClicked()">
          {{'EndowmentModule.EndowmentRgistrationService.CancelSubAssetBtnLabel' | localize}}</button>
        <!-- <svg-icon styleClass="ml-1 small" icon="plus"></svg-icon> -->
      </div>
    </ng-container>
  </form>
</ng-template>

<div class="aw-btn">
  <button type="button" class="btn btn-awq-secondary"
    (click)="onNextBtnClicked()">{{'EndowmentModule.EndowmentRgistrationService.ButtonNext' | localize}}</button>
  <button type="button" class="btn btn-outline-awq-secondary"
    (click)="onBackBtnClicked()">{{'EndowmentModule.EndowmentRgistrationService.ButtonPreviouse' | localize}}</button>
</div>
