<div class="row row-cols-1 row-cols-md-2">
  <div class="form-group col">
    <!-- <label class="col-form-label"> المبلغ <span *ngIf="!viewOnly" class="text-danger">*</span>   </label> -->

    <label class="col-form-label block"
      >{{
        "EndowmentModule.EndowmentRgistrationService.AssetMonterayAmount"
          | localize
      }}
      <span *ngIf="!viewOnly" class="text-danger">*</span></label
    >

    <input
      type="text"
      class="form-control"
      [hidden]="viewOnly"
      [minLength]="1"
      [maxLength]="10"
      #monetaryAssetAmount="ngModel"
      onkeypress="return event.charCode == 8 || event.charCode == 0 ? null :  event.charCode >= 45 && event.charCode <= 57"
      name="movableValue"
      [(ngModel)]="assetInfoModel.monetaryAsset.monetaryAssetAmount"
      [pattern]="ePatternValidation.pattern_decimal_values"
      required
    />
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel.monetaryAsset.monetaryAssetAmount }}
    </label>
    <div
      *ngIf="
        monetaryAssetAmount.invalid &&
        (monetaryAssetAmount.dirty || monetaryAssetAmount.touched)
      "
      class=""
    >
      <p
        *ngIf="monetaryAssetAmount.errors?.['required']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetMonterayRequiredValidationLabel"
            | localize
        }}
      </p>
      <p
        *ngIf="monetaryAssetAmount.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetMonterayNumberValidationLabel"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.AssetMonterayAmountGoalLabel"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
        <textarea
        [rows]="5"
        cols="10"
        class="form-control"
        [pattern]="
          ePatternValidation.pattern_arabic_english_any_char_with_space_without_numbers
        "
        #SubTypeDescription="ngModel"
        name="SubTypeDescription"
        [(ngModel)]="
        assetInfoModel!.assetSubTypeDescription
        "
        [hidden]="viewOnly"
        required
      >
      </textarea>
      <div>
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel!.assetSubTypeDescription }}
    </label>
  </div>
    <div
      *ngIf="
      SubTypeDescription.invalid &&
        (SubTypeDescription.dirty ||
        SubTypeDescription.touched)
      "
      class=""
    >
      <p
        *ngIf="SubTypeDescription.errors?.['required']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetMonteraySubTypeRequiredValidationLabel"
            | localize
        }}
      </p>

      <p
        *ngIf="SubTypeDescription.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetMonteraySubTypeRequiredValidationLabel"
            | localize
        }}
      </p>
    </div>
  </div>
</div>
