
<div class="billboard d-flex align-items-center">
  <div class="container">
    <div class="BillContent">
      <h1 class="fa-2x text-awq-secondary mb-4"><b>وقفى خدمات</b></h1>
    </div>
  </div>
</div>



<div class="servicesBox mb-6">
  <div class="container">
    <div class="text-center pt-6 pb-2">
      <h1 class="fa-2x text-awq-secondary mb-4"><b>خدماتنا</b></h1>
      <p>الهيئة العامة للأوقاف تعمل على خدمة عملائها بكفاءة عالية لتحقيق رضاهم وتقديم الخدمات المميزة لهم</p>

    </div>

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 mt-6">

      <div class="form-group col">
        <a href="javascript:void(0)" [routerLink]="['/endowmentregistration']" class="serviceBox">
          <img class="py-5" src="assets/images/index-1.svg" alt="">

          <h2><b>تسجيل وقف</b></h2>
          <p class="small">تسجيل الاوقاف بشكل رسمي لدى الهيئة لتمكينها من الاستفادة من خدمات الهيئة وتيسير الحصول على
            العديد من الخدمات اللازمة لممارسة أنشطتها، ويندرج ضمن هذه الخدمة القيام بإصدار/ تجديد / إلغاء شهادة</p>
          <button type="button" routerLink="../endowmentregistration" class="btn btn-awq-primary px-5">
            ابدأ الخدمة
          </button>
        </a>
      </div>
      <div class="form-group col">
        <a href="javascript:void(0)" [routerLink]="['/endowmentregistration/directregistrationform']" class="serviceBox">
          <img class="py-5" src="assets/images/index-1.svg" alt="">

          <h2><b>تسجيل فوري لوقف</b></h2>
          <p class="small">تسجيل الاوقاف بشكل رسمي لدى الهيئة لتمكينها من الاستفادة من خدمات الهيئة وتيسير الحصول على
            العديد من الخدمات اللازمة لممارسة أنشطتها، ويندرج ضمن هذه الخدمة القيام بإصدار/ تجديد / إلغاء شهادة</p>
          <button type="button" routerLink="../endowmentregistration/directregistrationform" class="btn btn-awq-primary px-5">
            ابدأ الخدمة
          </button>
        </a>
      </div>
      <div class="form-group col">
<!--        <a [routerLink]="['/public/seerRegistration']" class="serviceBox">-->
        <a href="javascript:void(0)" class="serviceBox">
        <img class="py-5" src="assets/images/index-2.svg" alt="">

          <h2><b>تسجيل ناظر</b></h2>
          <p class="small">
            تمكّن هذه الخدمة من تسجيل النظار عبر القنوات الرسمية والالتزام بمتطلبات لائحة تنظيم أعمال النظارة ،
            ومعالجتها حسب
            ما
            تقتضيه الإجراءات المعمول بها في الهيئة

          </p>
          <button type="button" class="btn btn-awq-primary px-5">
            ابدأ الخدمة
          </button>
        </a>
      </div>
      <div class="form-group col">
        <a [routerLink]="['/awqaf-services/publicServices/fundraising']" class="serviceBox">
          <img class="py-5" src="assets/images/index-3.svg" alt="">

          <h2><b>جمع التبرعات</b></h2>
          <p class="small">جمع التبرعات لانشاء وقف جديد من أجل تنمية القطاع الوقفي أو جمع تبرعات لوقف مسجل بهدف استدامته
          </p>
          <button type="button" class="btn btn-awq-primary px-5">
            ابدأ
          </button>
        </a>
      </div>
      <div class="form-group col">
        <a href="javascript:void(0)" class="serviceBox">
          <img class="py-5" src="assets/images/index-4.svg" alt="">

          <h2><b>الحوالات الخارجية</b></h2>
          <p class="small">الموافقة على الحوالات الخارجية للعمل على حوكمتها وفق أفضل المعايير</p>
          <button type="button" class="btn btn-awq-primary px-5">
            ابدأ الخدمة
          </button>
        </a>
      </div>
      <div class="form-group col">
        <a href="javascript:void(0)" class="serviceBox">
          <img class="py-5" src="assets/images/index-5.svg" alt="">

          <h2><b>فتح الحسابات البنكية للأوقاف الاجنبية</b></h2>
          <p class="small">توثيق عملية فتح حسابات الأوقاف الأجنبية من أجل حوكمة العمليات المالية وتحديد طبيعة التحويلات
            الارجية لإيصالها لمستفديها</p>
          <button type="button" class="btn btn-awq-primary px-5">
            ابدأ الخدمة
          </button>
        </a>
      </div>
      <div class="form-group col">
        <a href="javascript:void(0)" class="serviceBox">
          <img class="py-5" src="assets/images/index-6.svg" alt="">

          <h2><b>إنشاء محفظة وقفية</b></h2>
          <p class="small">مكن هذه الخدمة الواقفين أو النظار أو مؤسسات السوق المالية المرخصة من هيئة السوق المالية من
            تقديم طلب إصدار ترخيص لإنشاء محفظة استثمارية وقفية</p>
          <button type="button" class="btn btn-awq-primary px-5">
            ابدأ الخدمة
          </button>
        </a>
      </div>
      <div class="form-group col">
        <a href="javascript:void(0)" class="serviceBox">
          <img class="py-5" src="assets/images/index-3.svg" alt="">

          <h2><b>إنشاء صندوق وقفى</b></h2>
          <p class="small">تمكن هذه الخدمة مؤسسات السوق المالية المرخصة من هيئة السوق المالية من تقديم طلب إصدار ترخيص
            لصندوق وقفي
            التمويل</p>
          <button type="button" class="btn btn-awq-primary px-5">
            ابدأ الخدمة
          </button>
        </a>
      </div>
      <div class="form-group col">
        <a href="javascript:void(0)" class="serviceBox">
          <img class="py-5" src="assets/images/index-5.svg" alt="">

          <h2><b>التمويل</b></h2>
          <p class="small">تهدف من خلالها إلى إشراك المجتمع في المساهمة في تمويل المشاريع الوقفية، وتحقيق الاستدامة
            المالية</p>
          <button type="button" class="btn btn-awq-primary px-5">
            ابدأ الخدمة
          </button>
        </a>
      </div>

    </div>
  </div>
</div>
