<aw-wizard
  #wizard
  [disableNavigationBar]="true"
  class="awq-custom"
  [navBarLayout]="'large-empty'"
  navigateBackward="deny"
  navigateForward="deny"
>

  <aw-wizard-step
    stepTitle="معلومات المتقدم"
    [navigationSymbol]="{ symbol: '1' }"
    stepId="0"
  >
    <!--=========================   step one  =========================-->
    <div class="aw-wrpper_content">
      <app-endowment-applicant-CreateOrEdit
        [RequestId]="requestId" *ngIf="phaseId == undefined || phaseId == '1'" (onBtnNextClicked)="onBtnNextClicked($event)" (onBtnPreviousClicked)="onBackBtnClicked($event)"
      ></app-endowment-applicant-CreateOrEdit>
    </div>

  </aw-wizard-step>
  <!--=========================   step Tow  =========================-->
  <aw-wizard-step
    stepTitle="معلومات الوقف"
    [navigationSymbol]="{ symbol: '2' }"
    stepId="1"
  >
    <div class="aw-wrpper_content">
      <app-endowment-info-edit [requestId]="requestId" *ngIf="phaseId == '2'" (onBtnNextClicked)="onBtnNextClicked($event)" (onBtnPreviousClicked)="onBackBtnClicked($event)"></app-endowment-info-edit>
    </div>

  </aw-wizard-step>

  <!--=========================   step three  =========================-->
  <aw-wizard-step
    stepTitle="أصول الوقف"
    [navigationSymbol]="{ symbol: '3' }"
    stepId="2"
  >
    <div class="aw-wrpper_content">
      <app-endowment-shared-asset-edit [requestId]="requestId" *ngIf="phaseId == '3'" (onBtnNextClicked)="onBtnNextClicked($event)" (onBtnPreviousClicked)="onBackBtnClicked($event)"></app-endowment-shared-asset-edit>
    </div>

  </aw-wizard-step>

  <!--=========================   step Four  =========================-->
  <aw-wizard-step
    stepTitle="الواقفين"
    [navigationSymbol]="{ symbol: '4' }"
    stepId="3"
  >
    <div class="aw-wrpper_content">
      <app-endowment-endowers-list [requestId]="requestId" *ngIf="phaseId == '4'" (onBtnNextClicked)="onBtnNextClicked($event)" (onBtnPreviousClicked)="onBackBtnClicked($event)"></app-endowment-endowers-list>
    </div>

  </aw-wizard-step>

  <!--=========================   step Five  =========================-->
  <aw-wizard-step
    stepTitle="النظارة"
    [navigationSymbol]="{ symbol: '5' }"
    stepId="4"
  >
    <div class="aw-wrpper_content">
<!--      <app-endowment-seers-list></app-endowment-seers-list>-->
      <app-seer-step [requestId]="requestId" *ngIf="phaseId == '5'" (onBtnNextClicked)="onBtnNextClicked($event)" (onBtnPreviousClicked)="onBackBtnClicked($event)"></app-seer-step>
    </div>

  </aw-wizard-step>

  <!--=========================   step Six  =========================-->
  <aw-wizard-step
    stepTitle="المستفيدين"
    [navigationSymbol]="{ symbol: '6' }"
    stepId="5"
  >
    <div class="aw-wrpper_content">
      <app-beneficiary-step [requestId]="requestId" *ngIf="phaseId == '6'"(onBtnPreviousClicked)="onBackBtnClicked($event)"></app-beneficiary-step>
    </div>

  </aw-wizard-step>
</aw-wizard>
