<div class="row row-cols-1 row-cols-md-2">
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.AssetBusinessSubType"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{
        getLookUpValue(
          assetInfoModel.assetSubTypeId
        )
      }}
    </label>
    <p-dropdown [required]="true" [options]="assetSubTypes" [hidden]="viewOnly" [showClear]="true" name="assetSubTypeId"
    #assetSubTypeId="ngModel"
    [(ngModel)]="assetInfoModel!.assetSubTypeId" optionLabel="name" optionValue="id"
    [placeholder]="
      l(
        'Common.Choose',
        l('EndowmentModule.EndowmentRgistrationService.AssetBusinessSubType')
      )
    "></p-dropdown>
  <app-validationMessages relatedControlName="assetSubTypeId"
    [control]="assetSubTypeId" [validationMessages]="[
      {
        ruleName: 'required',
        ruleMessage: l(
          'Common.Required',
          l('EndowmentModule.EndowmentRgistrationService.AssetBusinessSubType')
        )
      }
    ]">
  </app-validationMessages>
  </div>
  <div class="form-group col" *ngIf="assetInfoModel.assetSubTypeId == 12">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.AssetSubTypeDescriptionLabel"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <input
      type="text"
      class="form-control"
      [minLength]="1"
      [maxLength]="250"
      [hidden]="viewOnly"
      [pattern]="
        ePatternValidation.pattern_arabic_english_any_char_with_space_without_numbers
      "
      #assetSubTypeDescription="ngModel"
      name="assetSubTypeDescription"
      [(ngModel)]="assetInfoModel!.assetSubTypeDescription"
      required
    />

    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel!.assetSubTypeDescription }}
    </label>

    <div
      *ngIf="
      assetSubTypeDescription.invalid &&
        (assetSubTypeDescription.dirty ||
        assetSubTypeDescription.touched)
      "
      class=""
    >
      <p
        *ngIf="assetSubTypeDescription.errors?.['required']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetSubTypeDescriptionRequired"
            | localize
        }}
      </p>

      <p
        *ngIf="assetSubTypeDescription.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinessCharacterValidation"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.AssetBusinessEntityName"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <input
      type="text"
      class="form-control"
      [minLength]="1"
      [maxLength]="250"
      [hidden]="viewOnly"
      [pattern]="
        ePatternValidation.pattern_arabic_english_any_char_with_space_without_numbers
      "
      #businessEntityName="ngModel"
      name="businessEntityName"
      [(ngModel)]="assetInfoModel!.businessEntityAsset!.businessEntityName"
      required
    />

    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel.businessEntityAsset.businessEntityName }}
    </label>

    <div
      *ngIf="
      businessEntityName.invalid &&
        (businessEntityName.dirty ||
        businessEntityName.touched)
      "
      class=""
    >
      <p
        *ngIf="businessEntityName.errors?.['required']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinessRequiredValidation"
            | localize
        }}
      </p>

      <p
        *ngIf="businessEntityName.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinessCharacterValidation"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.RealeStateRegion"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{
        getbusinessEntityAssetLookUpValue(assetInfoModel.businessEntityAsset.regionId)
      }}
    </label>
    <p-dropdown [required]="true" [options]="regionLookup" [hidden]="viewOnly" [showClear]="true" name="regionId"
    #regionId="ngModel"
    [(ngModel)]="assetInfoModel!.businessEntityAsset!.regionId" optionLabel="name" optionValue="id"
    [placeholder]="
      l(
        'Common.Choose',
        l('EndowmentModule.EndowmentRgistrationService.RealeStateRegion')
      )
    " (onChange)="getcityLookup(regionId.value)"></p-dropdown>
  <app-validationMessages relatedControlName="regionId"
    [control]="regionId" [validationMessages]="[
      {
        ruleName: 'required',
        ruleMessage: l(
          'Common.Required',
          l('EndowmentModule.EndowmentRgistrationService.RealeStateRegion')
        )
      }
    ]">
  </app-validationMessages>

  </div>
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.RealeStateCity"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{
        getCityLookUpValue(assetInfoModel.businessEntityAsset.cityId)
      }}
    </label>
    <p-dropdown [required]="true" [options]="cityLookup" [hidden]="viewOnly" [showClear]="true" name="cityId"
    #cityId="ngModel"
    [(ngModel)]="assetInfoModel!.businessEntityAsset!.cityId" optionLabel="name" optionValue="id" [disabled]="cityDisabled"
    [placeholder]="
      l(
        'Common.Choose',
        l('EndowmentModule.EndowmentRgistrationService.RealeStateCity')
      )
    "></p-dropdown>
  <app-validationMessages relatedControlName="cityId"
    [control]="cityId" [validationMessages]="[
      {
        ruleName: 'required',
        ruleMessage: l(
          'Common.Required',
          l('EndowmentModule.EndowmentRgistrationService.RealeStateCity')
        )
      }
    ]">
  </app-validationMessages>
  </div>

  <div class="form-group col-12">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.RealeStateAssetLocation"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <div class="col-sm-12 px-0">
      <google-map [disabled]="viewOnly" (mapChange)="onChangeMap()" [(map)]="map" required></google-map>
    </div>
  </div>
  <div class="form-group col">
    <div *ngIf="!viewOnly" class="d-flex">
      <label class="col col-form-label"
        >{{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinessRegisterationDocNumber"
            | localize
        }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
      >
      <!-- <hint [hintContent]="registrationDocumentNumberhint?.hintContentAr" [hintTitle]="registrationDocumentNumberhint?.hintTitleAr"></hint> -->
    </div>
    <label *ngIf="viewOnly" class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetBusinessRegisterationDocNumber"
        | localize
    }}</label>

    <input
      type="text"
      class="form-control"
      [hidden]="viewOnly"
      [minLength]="1"
      [maxLength]="10"
      #registrationDocumentNumber="ngModel"
      onkeypress="return event.charCode == 8 || event.charCode == 0 ? null : event.charCode >= 48 && event.charCode <= 57"
      name="registrationDocumentNumber"
      [(ngModel)]="
        assetInfoModel!.businessEntityAsset!.registrationDocumentNumber
      "
      [pattern]="ePatternValidation.pattern_number"
      required
    />
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel!.businessEntityAsset!.registrationDocumentNumber }}
    </label>
    <div
      *ngIf="
        registrationDocumentNumber.invalid &&
        (registrationDocumentNumber.dirty || registrationDocumentNumber.touched)
      "
      class=""
    >
      <p
        *ngIf="registrationDocumentNumber.errors?.['required']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinessRegisterationDocRequiredValidation"
            | localize
        }}
      </p>
      <p
        *ngIf="registrationDocumentNumber.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinessRegisterationDocNumberValidation"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetBusinesswaqfResponserPortion"
        | localize
    }}</label>
    <input
      type="text"
      class="form-control"
      [minLength]="1"
      [maxLength]="15"
      [hidden]="viewOnly"
      #waqfResponserPortion="ngModel"
      onkeypress="return event.charCode == 8 || event.charCode == 0 ? null :  event.charCode >= 45 && event.charCode <= 57"
      name="waqfResponserPortion"
      [(ngModel)]="assetInfoModel!.businessEntityAsset!.waqfResponserPortion"
      [pattern]="ePatternValidation.pattern_decimal_values"
    />
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel.businessEntityAsset.waqfResponserPortion }}
    </label>
    <div
      *ngIf="
        waqfResponserPortion.invalid &&
        (waqfResponserPortion.dirty || waqfResponserPortion.touched)
      "
      class=""
    >
      <p
        *ngIf="waqfResponserPortion.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinesswaqfResponserPortionNumberValidation"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetBusinesswaqfPercentageFromAsset"
        | localize
    }}</label>
    <input
      type="text"
      class="form-control"
      [minLength]="1"
      [maxLength]="5"
      [hidden]="viewOnly"
      #waqfPercentageFromAsset="ngModel"
      onkeypress="return event.charCode == 8 || event.charCode == 0 ? null :  event.charCode >= 45 && event.charCode <= 57"
      name="waqfPercentageFromAsset"
      [(ngModel)]="assetInfoModel!.businessEntityAsset!.waqfPercentageFromAsset"
      [pattern]="ePatternValidation.pattern_percentage"
    />
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel.businessEntityAsset.waqfPercentageFromAsset }}
    </label>
    <div
      *ngIf="
        waqfPercentageFromAsset.invalid &&
        (waqfPercentageFromAsset.dirty || waqfPercentageFromAsset.touched)
      "
      class=""
    >
      <p
        *ngIf="waqfPercentageFromAsset.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinesswaqfPercentageFromAssetRangeValidation"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col-12">
    <label class="col-form-label">
      {{
        "EndowmentModule.EndowmentRgistrationService.AssetBusinesscommercialRegisterAttachment"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >


    <div class="input-group mb-3 download p-2">
      <div class="flex-grow-1">
        <lib-file-uploader *ngIf="!businessEntityAssetAttachemt"
        name="commercialRegisterAttachmentId"
        [fileLabel]="l('EndowmentModule.EndowmentRgistrationService.AssetBusinesscommercialRegisterAttachment')"
        [showDisclaimer]="true"
        (OnSelectFile)="businessEntityAssetSelect($event)"
        (OnUploadFile)="businessEntityAssetUpload($event)"
      ></lib-file-uploader>
    <input
      type="hidden"
      #commercialRegisterAttachmentId="ngModel"
      name="commercialRegisterAttachmentId"
      [(ngModel)]="
        assetInfoModel!.businessEntityAsset!.commercialRegisterAttachmentId
      "
      required
    />
    <app-validationMessages
      relatedControlName="commercialRegisterAttachmentId"
      [control]="commercialRegisterAttachmentId"
      [validationMessages]="[
        {
          ruleName: 'required',
          ruleMessage: l(
            'Common.Required',
            l('EndowmentModule.EndowmentRgistrationService.seenDeed')
          )
        }
      ]"
    >
    </app-validationMessages>
    <div
    *ngIf="assetInfoModel!.businessEntityAsset!.commercialRegisterAttachmentId"
    class="form-group col-12"
  >
    <app-AttachmentViewer
      *ngIf="businessEntityAssetAttachemt" [DownloadButtonLabel]="'Common.DownLoad' | localize" [DeleteButtonLabel]="'Common.Delete' | localize" [ViewButtonLabel]="'Common.View' | localize"
      (OnAttachementRemove)="businessEntityAssetRemoveFile($event)"
      [Attachements]="[businessEntityAssetAttachemt] "
    ></app-AttachmentViewer>
        <!-- <file-uploader [showDownloadButton]="true" [showDeleteButton]="!viewOnly" [allowedExtensions]="['.pdf' ]"
            [ects]="[assetInfoModel.businessEntityAsset]" [keys]="['commercialRegisterAttachmentId']"
            [fileDisplayName]="'السجل التجاري'" [serviceTypeId]="requestType.NewWaqf">
          </file-uploader> -->
      </div>
    </div>
  </div>
</div>
