body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 130px 0 0; /* Height of navbar */
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
  background-color: white;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}






/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.25);
}

.navbar .navbar-toggler {
  top: .25rem;
  left: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.header-with-background {
  background-image: url('../assets/images/header-bg.png');
  background-size: cover;
}





.company-logo {
  display: inline-block;
  width:151px; /* Adjust the width and height according to your logo dimensions */
  height: 70px;
  background-image: url('../assets/images/Logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}



@font-face { 
  font-family:'FrutigerLTArabic-65Bold';
  src:url("http://silah/Style%20Library/Portal/fonts/FrutigerLTArabic-65Bold.eot?#iefix") format("embedded-opentype"), url("http://silah/Style%20Library/Portal/fonts/FrutigerLTArabic-65Bold.woff") format("woff"), url("http://silah/Style%20Library/Portal/fonts/FrutigerLTArabic-65Bold.ttf") format("truetype"), url("http://silah/Style%20Library/Portal/fonts/FrutigerLTArabic-65Bold.svg#FrutigerLTArabic-65Bold") format("svg");
  font-weight:normal;
  font-style:normal;
} 
* { 
    box-sizing: border-box;
} 

div { 
    margin:   0; 
    padding:   0; 
    border:   0; 
    outline:   0; 
    font-family:  'FrutigerLTArabic-65Bold';

} 

#layout { 
    position: relative;
} 

body { 
    margin:  0; 
    font-family:  'FrutigerLTArabic-65Bold'; 
    font-size:  14px; 
    font-weight:    400; 
    line-height:    1.5; 
    color:    #212529; 
    text-align:  right; 
    background-color:  initial;
    padding:  0; 
    border:   0; 
    outline:   0; 
    direction: rtl; 
    overflow-x: hidden; 
    background: url(http://silah/Style%20Library/Portal/images/bg.jpg) no-repeat fixed; 
    background-size: cover; 
    background-image: url("http://silah/Style%20Library/Portal/images/bg.jpg"); 
    background-position-x: initial; 
    background-position-y: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: fixed; 
    background-origin: initial; 
    background-clip: initial; 
} 

html { 
    font-family:  'FrutigerLTArabic-65Bold';
    line-height:  1.15; 
    -webkit-text-size-adjust:  100%; 
    -webkit-tap-highlight-color:  transparent;
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
} 

.video { 
    position: relative; 
    min-height: 230px; 
    margin-bottom: 15px;
} 

footer { 
    display:  block;
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-family: 'FrutigerLTArabic-65Bold';
} 

@media only screen and (min-width: 1600px) and (max-width: 1920px){ 
  footer { 
    margin-top: 20px !important;
  } 
}     

footer { 
    position: relative; 
    margin-top: 20px;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

:before,:after { 
    box-sizing: border-box;
} 

:selection { 
    color: #ffffff; 
    background: #cb9831;
} 

.container { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 576px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 720px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 960px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    max-width: 1140px;
  } 
}     

.container { 
    position: relative; 
    max-width: 1560px;
} 

.row { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px;
} 

.col-12 { 
    position:  relative; 
    width:  100%; 
    padding-right:  15px; 
    padding-left:  15px;
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
} 

.footer-content  { 
    display: -webkit-box; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    flex-direction: column; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: justify; 
    justify-content: space-between;
} 

ul { 
    margin-top:   0; 
    margin-bottom:   1rem;
    margin:  0; 
    padding:  0px;
    border:  0; 
    outline:  0; 
    font-family:  'FrutigerLTArabic-65Bold';
} 

@media only screen and (min-width: 1600px) and (max-width: 1920px){ 
  .footer-content ul  { 
    padding: 5px 0 !important;
  } 
}     

.footer-content ul  { 
    background: url(http://silah/Style%20Library/Portal/images/footer-bg.PNG) no-repeat; 
    background-size: cover; 
    width: 100%; 
    display: -webkit-box; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 10px; 
    background-image: url("http://silah/Style%20Library/Portal/images/footer-bg.PNG"); 
    background-position-x: initial; 
    background-position-y: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial;
} 

p { 
    margin-top:  0; 
    margin-bottom:  1rem;
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-family: 'FrutigerLTArabic-65Bold';
} 

@media only screen and (min-width: 1600px) and (max-width: 1920px){ 
  .footer-content p  { 
    margin: 10px 0 !important;
  } 
}     

.footer-content p  { 
    color: #666666; 
    margin: 20px 0;
} 

li { 
    margin:  0; 
    padding:  0; 
    border:  0; 
    outline:  0; 
    font-family:  'FrutigerLTArabic-65Bold';
    list-style-type: none;
} 

.footer-content ul li  { 
    display: inline-block; 
    margin: 10px 0; 
    padding: 0 15px; 
    position: relative; 
    list-style-type: none;
} 

.footer-content ul li:after  { 
    content: ""; 
    display: block; 
    width: 1px; 
    height: 100%; 
    background-color: #ffffff; 
    position: absolute; 
    bottom: 0; 
    left: 0;
} 

.footer-content ul li:last-child:after  { 
    display: none;
} 

a { 
    color:   #007bff; 
    text-decoration:  none; 
    background-color:   transparent;
    margin:  0; 
    padding:  0; 
    font-size:  100%; 
    vertical-align:  baseline; 
    background:  transparent; 
    -webkit-transition:  all 0.3s ease-out; 
    transition:  all 0.3s ease-out;
    outline: none;
} 

.footer-content ul li a  { 
    color: #ffffff; 
    font-weight: 400; 
    position: relative; 
    -webkit-transition: all .2s ease-in; 
    transition: all .2s ease-in; 
    text-decoration: none;
} 

a:hover { 
    color: #0056b3; 
    text-decoration: underline;
} 

a,a:hover,a:active { 
    text-decoration: none; 
    outline: none;
} 

.footer-content ul li a:hover  { 
    color: #cb9831; 
    text-decoration: underline;
} 


body {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}