<div dir="rtl">
<app-header></app-header>

<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="content">
    <h2>Main Content</h2>
    <p>This is the main content of your webpage.</p>
  <lib-breadcrumb></lib-breadcrumb>
   <app-ng-bootstrap-hijri-gregorian-datepicker></app-ng-bootstrap-hijri-gregorian-datepicker>   


   <app-IDNumberWithValidation [IsSaudi]=true></app-IDNumberWithValidation>
    <router-outlet> </router-outlet>
  </div>
</div>

<app-footer></app-footer>


</div>
