 


  <div class="card mb-4">
    
    <div class="card-body">
        <!-- <h4 class="card-title">يقين</h4> -->
        <div class="container-fluid">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label class="form-label">نوع الهوية</label>
              <div class="form-group ">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="citizen" value="{3:option1}">
                  <label class="form-check-label" for="citizen">مواطن</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="resident" value="option2">
                  <label class="form-check-label" for="resident">مقيم</label>
                </div>
              </div>
            </div>
            <div class="col">
              <label class="form-label" for="iqamaNo">رقم الاقامة</label>
              <input type="text" id="iqamaNo" class="form-control" placeholder="ارقام فقط">
            </div>
            <div class="col">
              <label class="form-label" for="dob">تاريخ الميلاد</label>
              <input type="date" id="dob" class="form-control">
            </div>
            <div class="col-auto align-self-end"> <!-- Added 'align-self-end' class -->
              <button type="submit" (click)="check()" class="btn btn-primary">تحقق</button>
            </div>
          </div>
        </div>
    </div>
 



 
 
</div>
