<div class="container">
    <div class="row">
      <div class="col-3">
      
   
 
           <h6>نوع الهوية</h6>
 
           <div class="form-group">
               <div class="form-check form-check-inline">
                   <input class="form-check-input" type="radio" name="status" id="citizen" value="{3:option1}">
                   <label class="form-check-label" for="citizen">مواطن</label>
               </div>
               <div class="form-check form-check-inline">
                   <input class="form-check-input" type="radio" name="status" id="resident" value="option2">
                   <label class="form-check-label" for="resident">مقيم</label>
               </div>
           </div>
              
      </div>
      <div class="col-3">
       <div class="mb-3">
         <label for="" class="form-label">رقم الاقامة</label>
         <input type="number"
           class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      
       </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label for="" class="form-label">تاريخ الميلاد</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      
        </div>
      </div>
  
      
    </div>
  </div>