<div class="row row-cols-1 row-cols-md-2">
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.RealeStateAssetClassificationType"
      | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
    <select class="custom-select" #assetSubTypeId="ngModel" [(ngModel)]="assetInfoModel.realEstateAsset.assetSubTypeId"
      [hidden]="viewOnly" required>
      <option *ngFor="let assetSubType of assetSubTypes" value="{{ assetSubType.id }}">
        {{ assetSubType.name }}
      </option>
    </select>
    <label class="col-form-label font-weight-bold" [hidden]="!viewOnly">&nbsp;{{
      getSubAssetsById(
      assetInfoModel.assetTypeId
      )
      }}
    </label>

    <div *ngIf="
        assetSubTypeId.invalid &&
        (assetSubTypeId.dirty || assetSubTypeId.touched)
      " class="">
      <p *ngIf="assetSubTypeId.errors" class="text-danger pt-1 small">
        {{
        "EndowmentModule.EndowmentRgistrationService.RequiredRealeStateAssetTypeValidationlabel"
        | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.RealeStateRegion"
      | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
    <select class="custom-select" #regionId="ngModel" [(ngModel)]="assetInfoModel.realEstateAsset.regionId"
      [hidden]="viewOnly" required (change)="getcityLookup(regionId.value)">
      <option [value]="null" selected></option>
      <option *ngFor="let region of regionLookup" value="{{ region.id }}">
        {{ region.name }}
      </option>
    </select>

    <div *ngIf="regionId.invalid && (regionId.dirty || regionId.touched)" class="">
      <p *ngIf="regionId.errors" class="text-danger pt-1 small">
        {{
        "EndowmentModule.EndowmentRgistrationService.RequiredRealeStateAssetRegionValidationlabel"
        | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.RealeStateCity" | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
    <select class="custom-select" [disabled]="cityDisabled" #cityId="ngModel"
      [(ngModel)]="assetInfoModel.realEstateAsset.cityId" [hidden]="viewOnly" required>
      <option [value]="null" selected></option>
      <option *ngFor="let city of cityLookup" value="{{ city.id }}">
        {{ city.name }}
      </option>
    </select>
    <label class="col-form-label font-weight-bold" [hidden]="!viewOnly">&nbsp;{{
      getCityById(assetInfoModel.realEstateAsset.cityId)
      }}
    </label>
    <div *ngIf="cityId.invalid && (cityId.dirty || cityId.touched)" class="">
      <p *ngIf="cityId.errors" class="text-danger pt-1 small">
        {{
        "EndowmentModule.EndowmentRgistrationService.RealeStateAssetCityRequiredValidationlabel"
        | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <div *ngIf="!viewOnly" class="d-flex">
      <label class="col col-form-label">{{
        "EndowmentModule.EndowmentRgistrationService.AssetEstimatedValueLabel"
        | localize
        }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
      <!-- <hint  [hintContent]="estimatedValuehint?.hintContentAr"
          [hintTitle]="estimatedValuehint?.hintTitleAr"></hint> -->
    </div>
    <label [hidden]="!viewOnly" class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetEstimatedValueLabel"
      | localize
      }}</label>

    <input type="text" class="form-control" [hidden]="viewOnly" [minLength]="1" [maxLength]="14"
      #estimatedAmount="ngModel"
      onkeypress="return event.charCode == 8 || event.charCode == 0 ? null :  event.charCode >= 45 && event.charCode <= 57"
      [(ngModel)]="assetInfoModel.realEstateAsset.estimatedAmount" [pattern]="ePatternValidation.pattern_decimal_values"
      required />
    <label class="col-form-label font-weight-bold" [hidden]="!viewOnly">&nbsp;{{
      assetInfoModel.realEstateAsset.estimatedAmount }}
    </label>
    <div *ngIf="
        estimatedAmount.invalid &&
        (estimatedAmount.dirty || estimatedAmount.touched)
      " class="">
      <p *ngIf="estimatedAmount.errors?.['required']" class="text-danger pt-1 small">
        {{
        "EndowmentModule.EndowmentRgistrationService.AssetEstimatedValueLabelRequiredValidationLabel"
        | localize
        }}
      </p>
      <p *ngIf="estimatedAmount.errors?.['pattern']" class="text-danger pt-1 small">
        {{
        "EndowmentModule.EndowmentRgistrationService.AssetEstimatedValueLabelNumberValidationLabel"
        | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col-12">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.RealeStateAssetLocation"
      | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
    <div class="col-sm-12 px-0">
      <google-map [disabled]="viewOnly" (mapChange)="onChangeMap()" [(map)]="map" required></google-map>
    </div>
  </div>



  <div class="form-group col-12">
    <label class="col-form-label">
      {{
      "EndowmentModule.EndowmentRgistrationService.RealeStateAssetOwnershipDeed"
      | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>


    <div class="input-group mb-3 download p-2">
      <div class="flex-grow-1">
        <lib-file-uploader name="commercialRegisterAttachment"
          [fileLabel]="l('EndowmentModule.EndowmentRgistrationService.RealeStateAssetOwnershipDeed')"
          [showDisclaimer]="true" (OnSelectFile)="realestateAssetSelect($event)"
          (OnUploadFile)="realestateAssetUpload($event)"></lib-file-uploader>
        <input type="hidden" #commercialRegisterAttachmentId="ngModel" name="commercialRegisterAttachmentId"
          [(ngModel)]="
      assetInfoModel.realEstateAsset.ownershipDeedAttachementId
      " required />
        <app-validationMessages relatedControlName="commercialRegisterAttachmentId"
          [control]="commercialRegisterAttachmentId" [validationMessages]="[
        {
          ruleName: 'required',
          ruleMessage: l(
            'Common.Required',
            l('EndowmentModule.EndowmentRgistrationService.seenDeed')
          )
        }
      ]">
        </app-validationMessages>
        <div *ngIf="assetInfoModel.realEstateAsset.ownershipDeedAttachementId" class="form-group col-12">
          <app-AttachmentViewer *ngIf="realestateAssetAttachemt"
            (OnAttachementRemove)="realestateAssetRemoveFile($event)"
            [Attachements]="[realestateAssetAttachemt]"></app-AttachmentViewer>
        </div>
      </div>
    </div>
  </div>


</div>