<div class="row row-cols-1 row-cols-md-2">
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetFiscalClassificationType"
      | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
      <p-dropdown [required]="true" [options]="assetSubTypes" [hidden]="viewOnly" [showClear]="true" name="assetSubTypeId"
      #assetSubTypeId="ngModel"
      [(ngModel)]="assetInfoModel!.assetSubTypeId" optionLabel="name" optionValue="id"
      [placeholder]="
        l(
          'Common.Choose',
          l('EndowmentModule.EndowmentRgistrationService.AssetBusinessSubType')
        )"></p-dropdown>
      <div>
        <label class="col-form-label font-weight-bold" *ngIf="viewOnly">&nbsp;{{
          getSubAssetsById(
          assetInfoModel.assetTypeId
        ) }}
        </label>
      </div>
    <app-validationMessages relatedControlName="assetSubTypeId"
      [control]="assetSubTypeId" [validationMessages]="[
        {
          ruleName: 'required',
          ruleMessage: l(
            'Common.Required',
            l('EndowmentModule.EndowmentRgistrationService.AssetBusinessSubType')
          )
        }
      ]">
    </app-validationMessages>
  </div>
  <div class="form-group col" *ngIf="assetInfoModel.assetSubTypeId == 12">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.AssetSubTypeDescriptionLabel"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <input
      type="text"
      class="form-control"
      [minLength]="1"
      [maxLength]="250"
      [hidden]="viewOnly"
      [pattern]="
        ePatternValidation.pattern_arabic_english_any_char_with_space_without_numbers
      "
      #assetSubTypeDescription="ngModel"
      name="assetSubTypeDescription"
      [(ngModel)]="assetInfoModel!.assetSubTypeDescription"
      required
    />

    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel!.assetSubTypeDescription }}
    </label>

    <div
      *ngIf="
      assetSubTypeDescription.invalid &&
        (assetSubTypeDescription.dirty ||
        assetSubTypeDescription.touched)
      "
      class=""
    >
      <p
        *ngIf="assetSubTypeDescription.errors?.['required']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetSubTypeDescriptionRequired"
            | localize
        }}
      </p>

      <p
        *ngIf="assetSubTypeDescription.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBusinessCharacterValidation"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.RealeStateRegion"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <p-dropdown [required]="true" [options]="regionLookup" [hidden]="viewOnly" [showClear]="true" name="regionId"
    #regionId="ngModel"
    [(ngModel)]="assetInfoModel!.realEstateAsset!.regionId" optionLabel="name" optionValue="id"
    [placeholder]="
      l(
        'Common.Choose',
        l('EndowmentModule.EndowmentRgistrationService.RealeStateRegion')
      )
    " (onChange)="getcityLookup(regionId.value)"></p-dropdown>
  <app-validationMessages relatedControlName="regionId"
    [control]="regionId" [validationMessages]="[
      {
        ruleName: 'required',
        ruleMessage: l(
          'Common.Required',
          l('EndowmentModule.EndowmentRgistrationService.RealeStateRegion')
        )
      }
    ]">
  </app-validationMessages>
  </div>
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.RealeStateCity" | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{
        getCityById(assetInfoModel.realEstateAsset.cityId)
      }}
    </label>
    <p-dropdown [required]="true" [options]="cityLookup" [hidden]="viewOnly" [showClear]="true" name="cityId"
    #cityId="ngModel"
    [(ngModel)]="assetInfoModel!.realEstateAsset!.cityId" optionLabel="name" optionValue="id" [disabled]="cityDisabled"
    [placeholder]="
      l(
        'Common.Choose',
        l('EndowmentModule.EndowmentRgistrationService.RealeStateCity')
      )
    "></p-dropdown>
  <app-validationMessages relatedControlName="cityId"
    [control]="cityId" [validationMessages]="[
      {
        ruleName: 'required',
        ruleMessage: l(
          'Common.Required',
          l('EndowmentModule.EndowmentRgistrationService.RealeStateCity')
        )
      }
    ]">
  </app-validationMessages>
  </div>
  <div class="form-group col">
    <div *ngIf="!viewOnly" class="d-flex">
      <label class="col col-form-label"
        >{{
          "EndowmentModule.EndowmentRgistrationService.AssetEstimatedValueLabel"
            | localize
        }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
      >
      <!-- <hint  [hintContent]="estimatedValuehint?.hintContentAr"
          [hintTitle]="estimatedValuehint?.hintTitleAr"></hint> -->
    </div>
    <label *ngIf="viewOnly" class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetEstimatedValueLabel"
        | localize
    }}</label>

    <input
      type="text"
      class="form-control"
      name="estimatedAmount"
      [hidden]="viewOnly"
      [minLength]="1"
      [maxLength]="14"
      #estimatedAmount="ngModel"
      onkeypress="return event.charCode == 8 || event.charCode == 0 ? null :  event.charCode >= 45 && event.charCode <= 57"
      [(ngModel)]="assetInfoModel.realEstateAsset.estimatedAmount"
      [pattern]="ePatternValidation.pattern_decimal_values"
      required
    />
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel.realEstateAsset.estimatedAmount }}
    </label>
    <div
      *ngIf="
        estimatedAmount.invalid &&
        (estimatedAmount.dirty || estimatedAmount.touched)
      "
      class=""
    >
      <p
        *ngIf="estimatedAmount.errors?.['required']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetEstimatedValueLabelRequiredValidationLabel"
            | localize
        }}
      </p>
      <p
        *ngIf="estimatedAmount.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetEstimatedValueLabelNumberValidationLabel"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col-12">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.RealeStateAssetLocation"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <div class="col-sm-12 px-0">
      <google-map [disabled]="viewOnly" (mapChange)="onChangeMap()" [(map)]="map" required></google-map>
    </div>
  </div>



  <div class="form-group col-12">
    <label class="col-form-label">
      {{
        "EndowmentModule.EndowmentRgistrationService.RealeStateAssetOwnershipDeed"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >


    <div class="input-group mb-3 download p-2">
      <div class="flex-grow-1">
        <lib-file-uploader *ngIf="!realestateAssetAttachemt"
        name="commercialRegisterAttachment"
        [fileLabel]="l('EndowmentModule.EndowmentRgistrationService.RealeStateAssetOwnershipDeed')"
        [showDisclaimer]="true"
        (OnSelectFile)="realestateAssetSelect($event)"
        (OnUploadFile)="realestateAssetUpload($event)"
      ></lib-file-uploader>
    <input
      type="hidden"
      #commercialRegisterAttachmentId="ngModel"
      name="commercialRegisterAttachmentId"
      [(ngModel)]="
      assetInfoModel.realEstateAsset.ownershipDeedAttachementId
      "
      required
    />
    <app-validationMessages
      relatedControlName="commercialRegisterAttachmentId"
      [control]="commercialRegisterAttachmentId"
      [validationMessages]="[
        {
          ruleName: 'required',
          ruleMessage: l(
            'Common.Required',
            l('EndowmentModule.EndowmentRgistrationService.seenDeed')
          )
        }
      ]"
    >
    </app-validationMessages>
    <div
    *ngIf="assetInfoModel.realEstateAsset.ownershipDeedAttachementId"
    class="form-group col-12"
  >
    <app-AttachmentViewer
      *ngIf="realestateAssetAttachemt"
      (OnAttachementRemove)="realestateAssetRemoveFile($event)"
      [Attachements]="[realestateAssetAttachemt]" [DownloadButtonLabel]="'Common.DownLoad' | localize" [DeleteButtonLabel]="'Common.Delete' | localize" [ViewButtonLabel]="'Common.View' | localize"
    ></app-AttachmentViewer>
      </div>
    </div>
  </div>
</div>


</div>
