<div *ngIf="!!requestId && !!essentialInfoForBeneficiaryTab">
    <form name="form">
      <div class="row justify-content-center my-6" *ngIf="!viewOnly && !hasBenifiaries && +WaqfTypeID !== 1">
        <div class="col-lg-5">
          <div class="text-center">
            <h2 class="text-awq-secondary my-4">هل هناك مستفيدين ؟</h2>
            <div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="radio21" name="otradio" [value]="1"
                       (change)="isThereNewBenifacyFoundChange($event)">
                <label class="custom-control-label" for="radio21">نعم</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="radio32" name="otradio" [value]="0"
                       (change)="isThereNewBenifacyFoundChange($event)" checked>
                <label class="custom-control-label" for="radio32">لا</label>
              </div>
            </div>
          </div>
  
          <ng-container *ngIf="isThereBeneficiaries === '1'">
            <a href="javascript:viod(0)" class="addBox my-6 py-3" (click)="openLg(addData)">
              <svg-icon styleClass="fa-3x mr-2 mb-2 " icon="add-user"></svg-icon>
              <span>إضفط لإضافة بيانات المستفيد</span>
            </a>
          </ng-container>
        </div>
      </div>
  
      <div class="table-responsive mt-2" *ngIf="hasBenifiaries">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
          <tr>
            <td class="text-center" scope="col">#</td>
            <td class="text-center" scope="col">اسم المستفيد</td>
            <td class="text-center" scope="col">رقم الهوية</td>
            <td class="text-center" scope="col">رقم الجوال</td>
            <td class="text-center" scope="col" *ngIf="viewOnly">مراجعة</td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">تعديل</td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">حذف</td>
          </tr>
          </thead>
  
          <tbody>
          <tr *ngFor="let ben of essentialInfoForBeneficiaryTab.beneficiaries; let i = index ">
            <td class="text-center" scope="col">
              {{i + 1}}
            </td>
            <td class="text-center" scope="col">
              {{ben.person.fullName}}
            </td>
            <td class="text-center" scope="col">
              {{ben.person.idNumber}}
            </td>
            <td class="text-center" scope="col">
              {{ben.person.mobileNumber}}
            </td>
            <td class="text-center" scope="col" *ngIf="viewOnly" (click)="viewBeneficiary(addData, i)">
              <a class="btn btn-sm btn-outline-awq-secondary rounded">
                <svg-icon icon="eye" ></svg-icon>
              </a>
            </td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">
              <a class="btn btn-sm btn-outline-awq-secondary rounded" (click)="editBeneficiary(addData, i)">
                <svg-icon icon="pencil"></svg-icon>
              </a>
            </td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">
              <a class="btn btn-sm btn-outline-danger rounded" (click)="deleteBeneficiary(i)"
                 *ngIf="!viewOnly">
                <svg-icon icon="trash-alt"></svg-icon>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  
      <div class="d-flex justify-content-end my-6" *ngIf="!viewOnly && hasBenifiaries">
        <a href="javascript:void(0)" class="btn btn-outline-awq-secondary px-6 border-0 shadow-sm" (click)="openLg(addData)">
          <svg-icon styleClass="h1 mr-2" icon="add-user"></svg-icon>
          <span>إضافة مستفيد آخر</span>
        </a>
      </div>
  
      <ng-template #addData let-modal>
        <div class="modal-header">
          <h2>بيانات المستفيد</h2>
        </div>
        <div class="modal-body">
          <div class="row row-cols-1 row-cols-md-2" *ngIf="!isEditRequested">
            <div class="form-group col-12">
              <label class="col-form-label block">هل المستفيد داخل المملكة ؟<span class="text-danger">*</span></label>
              <div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="radioksa1" name="radioKSA" [value]="1"
                         (change)="isInsideKsaChanged($event)" checked>
                  <label class="custom-control-label" for="radioksa1">نعم</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="radioksa2" name="radioKSA" [value]="0"
                         (change)="isInsideKsaChanged($event)">
                  <label class="custom-control-label" for="radioksa2">لا</label>
                </div>
              </div>
            </div>
          </div>
  
          <yakeen-person *ngIf="isBenificiaryInKsa && (isUpdateMode || isCreateMode) && !viewOnly"
                         (OnNewPersonAvailable)="onNewPersonAvailable($event)"
                         (OnNewCitizenValidated)="onNewCitizenAvailable($event)"
                         (OnNewAlienValidated)="onNewAlienAvailable($event)"
                         [initialData]="{alien: newAlien, citizen: newCitizen, person: newPerson, hafeza:undefined }"
                         >
          </yakeen-person>
  
          <app-beneficiary-outside-ksa
            [viewOnly]="viewOnly"
            [beneficiary]="beneficiaryOutKSAToView"
            (OnNewBeneficiaryValidated)="onNewBeneficiaryAvailable($event)"
            *ngIf="(!isBenificiaryInKsa || !isBeneficiaryInKsaEditView)">
  
          </app-beneficiary-outside-ksa>
     <!-- !isEditRequested&&!viewOnly  ** (isEditRequested && isBeneficiaryInKsaEditView)-->
          <yakeen-person-view *ngIf="(viewOnly && isBeneficiaryInKsaView)"
                              [isCitizen]="isCitizen"
                              [citizen]="citizenToView"
                              [alien]="alienToView"
                              [person]="addBenificiaryInputDto?.createBeneficiaryPersonInputDto"></yakeen-person-view>
        </div>
  
        <ng-container *ngIf="!isEditRequested&&!viewOnly">
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-awq-secondary px-6" [disabled]="!isValidNumber"
                    (click)="addToBenefList()">
              إضافة
              <svg-icon styleClass="ml-1 small" icon="plus"></svg-icon>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="isEditRequested&&!viewOnly">
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-warning px-6" [disabled]="(this.newPerson.isEmailVerified && this.newPerson.isMobileNumberVerified)" (click)="onEditBtnClicked()">
              تعديل
            </button>
            <button type="button" class="btn btn-outline-awq-secondary px-6" (click)="onCancelBtnClicked()">
              تراجع
            </button>
          </div>
        </ng-container>
      </ng-template>
    </form>
    
  </div>
  