<div class="row row-cols-1 row-cols-md-2">
  <div class="form-group col">
    <label class="col-form-label">{{
      "EndowmentModule.EndowmentRgistrationService.AssetFiscalClassificationType"
      | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label>
      <p-dropdown [required]="true" [options]="assetSubTypes" [hidden]="viewOnly" [disabled]="true" [showClear]="true" name="assetSubTypeId"
      #assetSubTypeId="ngModel"
      [(ngModel)]="assetInfoModel!.assetSubTypeId" optionLabel="name" optionValue="id"
      [placeholder]="
        l(
          'Common.Choose',
          l('EndowmentModule.EndowmentRgistrationService.AssetBenefitTypeLabel')
        )
      "></p-dropdown>
      <div>
        <label class="col-form-label font-weight-bold" *ngIf="viewOnly">&nbsp;{{
          assetSubTypes[assetInfoModel!.assetSubTypeId -1]?.name }}
        </label>
      </div>
    <app-validationMessages relatedControlName="assetSubTypeId"
      [control]="assetSubTypeId" [validationMessages]="[
        {
          ruleName: 'required',
          ruleMessage: l(
            'Common.Required',
            l('EndowmentModule.EndowmentRgistrationService.AssetBenefitTypeLabel')
          )
        }
      ]">
    </app-validationMessages>
  </div>
  <div class="form-group col-12">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.AssetBenefitDescriptionLabel"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <textarea
    [rows]="5"
    cols="10"
    class="form-control"
    [pattern]="
      ePatternValidation.pattern_arabic_english_any_char_with_space_without_numbers
    "
    #assetSubTypeDescription="ngModel"
    name="assetSubTypeDescription"
    [(ngModel)]="assetInfoModel!.assetSubTypeDescription"
    [hidden]="viewOnly"
    [required]="true"
  >
  </textarea>

    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel!.assetSubTypeDescription }}
    </label>

    <div
      *ngIf="
      assetSubTypeDescription.invalid &&
        (assetSubTypeDescription.dirty ||
        assetSubTypeDescription.touched)
      "
      class=""
    >
      <p
        *ngIf="assetSubTypeDescription.errors?.['required']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBenefitRequiredValidationLabel"
            | localize
        }}
      </p>

      <p
        *ngIf="assetSubTypeDescription.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBenefitCharacterValidationLabel"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.AssetBenefitAmountLabel"
          | localize
      }}
    </label>

    <input
      type="text"
      class="form-control"
      [hidden]="viewOnly"
      [minLength]="1"
      [maxLength]="10"
      #benefitValue="ngModel"
      onkeypress="return event.charCode == 8 || event.charCode == 0 ? null :  event.charCode >= 45 && event.charCode <= 57"
      name="benefitValue"
      [(ngModel)]="assetInfoModel.particularBenefitAsset.benefitValue"
      [pattern]="ePatternValidation.pattern_decimal_values"
    />
    <label class="col-form-label font-weight-bold" *ngIf="viewOnly"
      >&nbsp;{{ assetInfoModel.particularBenefitAsset.benefitValue }}
    </label>
    <div
      *ngIf="
        benefitValue.invalid && (benefitValue.dirty || benefitValue.touched)
      "
      class=""
    >
      <p
        *ngIf="benefitValue.errors?.['pattern']"
        class="text-danger pt-1 small"
      >
        {{
          "EndowmentModule.EndowmentRgistrationService.AssetBenefitNumberValidationLabel"
            | localize
        }}
      </p>
    </div>
  </div>
  <div class="form-group col">
    <label class="col-form-label"
      >{{
        "EndowmentModule.EndowmentRgistrationService.IsDirectAssetBenefitLabel"
          | localize
      }}<span *ngIf="!viewOnly" class="text-danger">*</span></label
    >
    <select
      class="custom-select"
      #isDirectedBenefit="ngModel"
      name="isDirectedBenefit"
      [(ngModel)]="assetInfoModel.particularBenefitAsset.isDirectedBenefit"
      [hidden]="viewOnly"
      required
    >
      <option [ngValue]="undefined"></option>
      <option [ngValue]="true">
        {{ "EndowmentModule.EndowmentRgistrationService.Yes" | localize }}
      </option>
      <option [ngValue]="false">
        {{ "EndowmentModule.EndowmentRgistrationService.No" | localize }}
      </option>
    </select>
    <label
      class="col-form-label font-weight-bold"
      *ngIf="assetInfoModel.particularBenefitAsset.isDirectedBenefit && viewOnly"
      >&nbsp; {{ "EndowmentModule.EndowmentRgistrationService.Yes" | localize }}
    </label>
    <label
      class="col-form-label font-weight-bold"
      *ngIf="!assetInfoModel.particularBenefitAsset.isDirectedBenefit && viewOnly"
      >&nbsp; {{ "EndowmentModule.EndowmentRgistrationService.No" | localize }}
    </label>
    <div
      *ngIf="
        isDirectedBenefit.invalid &&
        (isDirectedBenefit.dirty || isDirectedBenefit.touched)
      "
      class=""
    >
      <p *ngIf="isDirectedBenefit.errors" class="text-danger pt-1 small">
        {{
          "EndowmentModule.EndowmentRgistrationService.isDirectedBenefitSelectedLabel"
            | localize
        }}
      </p>
    </div>
  </div>
</div>
