<form name="form" #seerListForm="ngForm">

    <div class="d-flex justify-content-center my-6" *ngIf="!viewOnly && !hasSeers">
      <a href="javascript:void(0)" class="addBox my-6 py-3 col-xl-5" (click)="onAddNewSeer(addData)">
        <!-- <svg-icon styleClass="fa-3x mr-2 mb-2 " icon="add-user"></svg-icon> -->
        <span>{{'EndowmentModule.EndowmentRgistrationService.ClickToAddNewSeer' | localize}}</span>
      </a>
    </div>

    <div class="table-responsive mt-2" *ngIf="hasSeers">
      <p-table class="table table-striped table-hover" #dt [value]="primengTableHelper.records"
    [totalRecords]="primengTableHelper.totalRecordsCount" [loading]="primengTableHelper.isLoading"
    [rows]="primengTableHelper.defaultRecordsCountPerPage" [paginator]="true"
    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
    [responsive]="primengTableHelper.isResponsive" [showCurrentPageReport]="true"
    [currentPageReportTemplate]="' عدد السطور'+ primengTableHelper.totalRecordsCount.toString()"
    [resizableColumns]="primengTableHelper.resizableColumns">
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center" pSortableColumn="record?.seerPerson.fullName" scope="col">
                {{'EndowmentModule.EndowmentRgistrationService.SeerNameLabel' |
                localize}}
                <p-sortIcon field="record?.seerPerson?.fullName"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="record?.seerPerson?.userName" scope="col">{{'Common.idNumber' |
                localize}}
                <p-sortIcon field="record?.seerPerson?.userName"></p-sortIcon>
            </th>
            <th class="text-center" pSortableColumn="record?.seerPerson?.phoneNumber" scope="col">
                {{'Common.mobileNumber' |
                localize}}
                <p-sortIcon field="record?.seerPerson?.phoneNumber"></p-sortIcon>
            </th>
            <th class="text-center" scope="col" *ngIf="!viewOnly">
              {{'Common.EditLabel' | localize}}
          </th>
            <th class="text-center" scope="col" *ngIf="!viewOnly">
                {{'Common.DeleteLabel' | localize}}
            </th>
            <th class="text-center" scope="col" *ngIf="viewOnly">{{'Common.ReviewLabel' | localize}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
        <tr>
            <td class="text-center" scope="col">
                {{record?.seerPerson?.fullName}}
            </td>
            <td class="text-center" scope="col">
                {{ record?.seerPerson?.userName}}
            </td>
            <td class="text-center" scope="col">
                {{ record?.seerPerson?.phoneNumber}}
            </td>
            <td class="text-center" scope="col" *ngIf="!viewOnly" (click)="editSeer(addData, i)">
                <a class="btn btn-sm btn-outline-awq-secondary rounded">
                    <svg-icon icon="pencil"></svg-icon>
                </a>
            </td>
            <td class="text-center" scope="col" *ngIf="!viewOnly">
            <a class="btn btn-sm btn-outline-awq-secondary rounded" (click)="deleteSeer(i)">
              <svg-icon icon="trash-alt"></svg-icon>

            </a>
          </td>
          <td class="text-center" scope="col" *ngIf="viewOnly">
            <a class="btn btn-sm btn-outline-danger rounded" (click)="viewSeer(addData, i)"
               *ngIf="viewOnly">
               <svg-icon icon="eye"></svg-icon>
            </a>
          </td>
        </tr>
    </ng-template>
</p-table>
    </div>

    <div class="d-flex justify-content-end my-6" *ngIf="!viewOnly &&  hasSeers">
      <a href="javascript:void(0)" class="btn btn-outline-awq-secondary px-6 border-0 shadow-sm"
         (click)="onAddNewSeer(addData)">
        <!-- <svg-icon styleClass="h1 mr-2" icon="add-user"></svg-icon> -->
        <span>{{'EndowmentModule.EndowmentRgistrationService.ClickToAddAnohterNewSeer' | localize}}</span>
      </a>
    </div>

    <ng-template #addData let-modal>
      <div class="modal-header">
        <h2>{{'EndowmentModule.EndowmentRgistrationService.SeerInformationHeader' | localize}}</h2>
      </div>
      <div class="modal-body fixed-modal-body pt-0">

        <yakeen-person *ngIf="isUpdateMode || isCreateMode"
                       (OnNewPersonAvailable)="onNewPersonAvailable($event)"
                       (OnNewCitizenValidated)="onNewCitizenAvailable($event)"
                       (OnNewAlienValidated)="onNewAlienAvailable($event)"
                       [fromSeer]="true"
                       [initialData]="{alien: newAlien, citizen: newCitizen, person: newPerson}">
        </yakeen-person>
        <yakeen-person-view *ngIf="viewOnly" [isCitizen]="isCitizen" [citizen]="citizenToView" [alien]="alienToView" [person]="primengTableHelper.records[seerToEditIndex].seerPerson"></yakeen-person-view>

        <div class="row row-cols-1 row-cols-md-2" *ngIf="isYakeenPersonReady || !!citizenToView || !!alienToView">
          <!-- Section Title -->

          <div class="mt-4 col-12">
            <h3 class="text-awq-primary my-3">
              <!-- <svg-icon styleClass="mr-2" icon="title-arrow"></svg-icon> -->
              {{'EndowmentModule.EndowmentRgistrationService.SeeringInformationHeader' | localize}}
            </h3>
          </div>

          <div class="form-group col">
            <label class="col col-form-label">{{
              "EndowmentModule.EndowmentRgistrationService.EducationLevel"
                | localize
              }}</label>
            <p-dropdown
              [required]="true"
              [options]="educationLevelLookups"
              [showClear]="true"
              name="EducationLevel"
              #educationLevelId="ngModel"
              [(ngModel)]="seerToCreate.createSeerInputDto.educationLevelId"
              optionLabel="name"
              optionValue="id"
              [placeholder]="
                l(
                  'Common.Choose',
                  l(
                    'EndowmentModule.EndowmentRgistrationService.EducationLevel'
                  )
                )
              "
            ></p-dropdown>
            <app-validationMessages
              relatedControlName="EducationLevel"
              [control]="educationLevelId"
              [validationMessages]="[
                {
                  ruleName: 'required',
                  ruleMessage: l(
                    'Common.Required',
                    l(
                      'EndowmentModule.EndowmentRgistrationService.EducationLevel'
                    )
                  )
                }
              ]"
            >
            </app-validationMessages>
          </div>
          <div class="form-group col">
            <div class="d-flex">
              <label class="col col-form-label"
              >{{
                "EndowmentModule.EndowmentRgistrationService.SeerType"
                  | localize
                }}<span class="text-danger">*</span> :
              </label>
<!--              <app-hint [hint]="seerTypeHint"> </app-hint>-->
            </div>
            <p-dropdown
              [required]="true"
              [options]="seerTypeLookup"
              [showClear]="true"
              name="SeerTypes"
              #seerTypeId="ngModel"
              (onChange)="selectSeerType($event)"
              [(ngModel)]="seerToCreate.createSeerInputDto.endowmentPartiesTypeId"
              optionLabel="name"
              optionValue="id"
              [placeholder]="
                l(
                  'Common.Choose',
                  l('EndowmentModule.EndowmentRgistrationService.SeerType')
                )
              "
            ></p-dropdown>
            <app-validationMessages
              relatedControlName="SeerTypes"
              [control]="seerTypeId"
              [validationMessages]="[
                {
                  ruleName: 'required',
                  ruleMessage: l(
                    'Common.Required',
                    l('EndowmentModule.EndowmentRgistrationService.SeerType')
                  )
                }
              ]"
            >
            </app-validationMessages>
          </div>
          <div
            *ngIf="seerToCreate.createSeerInputDto.endowmentPartiesTypeId == 2"
            class="form-group col"
          >
            <label class="col col-form-label"
            >{{
              "EndowmentModule.EndowmentRgistrationService.PrestigiousAttributeType"
                | localize
              }}<span class="text-danger">*</span> :
            </label>

            <p-dropdown
              [required]="true"
              [options]="sifaEtibariLookups"
              [showClear]="true"
              name="seerprestigiousAttributeType"
              #prestigiousAttributeTypeId="ngModel"
              [(ngModel)]="seerToCreate.createSeerInputDto.prestigiousAttributeTypeId"
              optionLabel="name"
              optionValue="id"
              [placeholder]="
                l(
                  'Common.Choose',
                  l(
                    'EndowmentModule.EndowmentRgistrationService.PrestigiousAttributeType'
                  )
                )
              "
            ></p-dropdown>
            <app-validationMessages
              relatedControlName="seerprestigiousAttributeType"
              [control]="prestigiousAttributeTypeId"
              [validationMessages]="[
                {
                  ruleName: 'required',
                  ruleMessage: l(
                    'Common.Required',
                    l(
                      'EndowmentModule.EndowmentRgistrationService.PrestigiousAttributeType'
                    )
                  )
                }
              ]"
            >
            </app-validationMessages>
          </div>
          <div
            *ngIf="
              seerToCreate.createSeerInputDto.endowmentPartiesTypeId== 2 &&
              seerToCreate.createSeerInputDto?.prestigiousAttributeTypeId &&
              seerToCreate.createSeerInputDto.prestigiousAttributeTypeId != 5 &&
              seerToCreate.createSeerInputDto.prestigiousAttributeTypeId != 3
            "
            class="form-group col"
          >
            <label class="col-form-label"
            >{{
              "EndowmentModule.EndowmentRgistrationService.RegisterationCommercialNo"
                | localize
              }}<span class="text-danger">*</span> :
            </label>
            <input
              type="text"
              class="form-control"
              name="seercommercialNumber"
              #commercialNumber="ngModel"
              [(ngModel)]="seerToCreate.createSeerInputDto.commercialNumber"
              [ngModelOptions]="{ standalone: true }"
              required
            />
            <app-validationMessages
              relatedControlName="seercommercialNumber"
              [control]="commercialNumber"
              [validationMessages]="[
                {
                  ruleName: 'required',
                  ruleMessage: l(
                    'Common.Required',
                    l(
                      'EndowmentModule.EndowmentRgistrationService.RegisterationCommercialNo'
                    )
                  )
                }
              ]"
            >
            </app-validationMessages>
          </div>
          <div class="form-group col">
            <label class="col-form-label"
            >{{
              "EndowmentModule.EndowmentRgistrationService.SeerDeedId"
                | localize
              }}<span class="text-danger">*</span> :
            </label>
            <input
              type="text"
              class="form-control"
              #seenDeedId="ngModel"
              name="representativeNumber"
              maxlength="20"
              [(ngModel)]="seerToCreate.createSeerInputDto.seenDeedId"
              [pattern]="EnumValidation.pattern_number"
              required
            />
            <app-validationMessages
              relatedControlName="representativeNumber"
              [control]="seenDeedId"
              [validationMessages]="[
                {
                  ruleName: 'required',
                  ruleMessage: l(
                    'Common.Required',
                    l('EndowmentModule.EndowmentRgistrationService.SeerDeedId')
                  )
                },
                {
                  ruleName: 'pattern',
                  ruleMessage: l(
                    'EndowmentModule.EndowmentRgistrationService.SeerDeedIdRequiredValidation'
                  )
                }
              ]"
            >
            </app-validationMessages>
          </div>
          <div
            *ngIf="!seerToCreate.createSeerInputDto.seedDeedAttachmentId"
            class="form-group col-12"
          >
            <lib-file-uploader
              name="seerDeed"
              [fileLabel]="
                l('EndowmentModule.EndowmentRgistrationService.seenDeed')
              "
              [showDisclaimer]="true"
              [MultipleFiles]="true"
              (OnSelectFile)="seerDeedFileSelect($event)"
              (OnUploadFile)="SeerDeedFileUpload($event)"
            ></lib-file-uploader>
            <input
              type="text"
              hidden
              [(ngModel)]="seerToCreate.createSeerInputDto.seedDeedAttachmentId"
              #seedDeedAttachmentId="ngModel"
              required
              name="seedDeedAttachmentId"
            />
            <app-validationMessages
              relatedControlName="seedDeedAttachmentId"
              [control]="seedDeedAttachmentId"
              [validationMessages]="[
                {
                  ruleName: 'required',
                  ruleMessage: l(
                    'Common.Required',
                    l('EndowmentModule.EndowmentRgistrationService.seenDeed')
                  )
                }
              ]"
            >
            </app-validationMessages>
          </div>
          <div
            *ngIf="seerToCreate.createSeerInputDto.seedDeedAttachmentId"
            class="form-group col-12"
          >
            <app-AttachmentViewer
              *ngIf="seerDeadAttachemt"
              (OnAttachementRemove)="SeerDeedremoveFile($event)"
              [Attachements]="[seerDeadAttachemt]"
            ></app-AttachmentViewer>
          </div>
        </div>
      </div>
      <ng-container *ngIf="isCreateMode&&!viewOnly">
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-awq-secondary px-6"
                  [disabled]="(seerListForm.form?.invalid|| seerToCreate.createSeerInputDto.endowmentPartiesTypeId == undefined)" (click)="addToSeerList()">
                  {{'EndowmentModule.EndowmentRgistrationService.AddSeerInfoBton' | localize}}
            <!-- <svg-icon styleClass="ml-1 small" icon="plus"></svg-icon> -->
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="isUpdateMode&&!viewOnly">
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-warning px-6" [disabled]="seerListForm.form?.invalid"
                  (click)="onEditBtnClicked()">
                  {{'EndowmentModule.EndowmentRgistrationService.EditSeerInfoBton' | localize}}
          </button>
          <button type="button" class="btn btn-outline-awq-secondary px-6"
                  (click)="onCancelBtnClicked()">
                  {{'EndowmentModule.EndowmentRgistrationService.CancelSeerInfoBton' | localize}}
          </button>
        </div>
      </ng-container>
    </ng-template>
</form>
