
<form [formGroup]="endowmentInfoForm" >
  
  <div class="aw-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

      <div class="form-group col">
        <label class="col-form-label">اسم الوقف<span class="text-danger">*</span></label>
        <input type="text" class="form-control"  name="endowmentName" formControlName="endowmentName"
        [ngClass]="{ 'is-invalid': form['endowmentName'].errors }"  required>
        <div *ngIf=" form['endowmentName'].errors" class="invalid-feedback">
          <p *ngIf=" form['endowmentName'].errors?.['required']" class="text-danger pt-1 small">اسم الوقف مطلوب</p>
        </div>
      </div>

      <div class="form-group col">
        <div class="d-flex">
          <label class="col col-form-label">نوع الوقف<span class="text-danger">*</span></label>
        </div>
        <select class="custom-select" formControlName="endowmentTypeId" required>
          <option *ngFor="let waqfTypes of lookupService" value={{waqfTypes.value}} >
            {{waqfTypes.name}}
          </option>
        </select>

        <div *ngIf=" form['endowmentTypeId'].errors" class="invalid-feedback">
          <p *ngIf=" form['endowmentTypeId'].errors?.['required']" class="text-danger pt-1 small">نوع الوقف مطلوب</p>
        </div>
      </div>


      <div class="form-group col">
        <label class="col-form-label">اوجه الصرف<span class="text-danger">*</span></label>
        <p-multiSelect  display="chip" name="endowmentawjuhElSarfIds" [options]="awjuhElsarfs" optionLabel="name" optionValue="value"
        formControlName="endowmentawjuhElSarfIds"  required></p-multiSelect>
        <div *ngIf=" form['endowmentawjuhElSarfIds'].errors" class="invalid-feedback">
          <p *ngIf=" form['endowmentawjuhElSarfIds'].errors?.['required']" class="text-danger pt-1 small">نوع الوقف مطلوب</p>
        </div>
      </div>

 

<!-- 

      <div class="form-group col">
        <ng-bootstrap-hijri-gregorian-datepicker
          [Label]="'تاريخ الوقف'"
          [IsRequired]=true
          [min]="minDeedDate"
          [max]="maxDeedDate"
          [(SelectedDate)]="waqfInitialDate"

          (SelectedDateChange)="onWaqfDateChange($event)"  [IsDisabled]="IsDeedDisabled"
          #datePicker
        >
        </ng-bootstrap-hijri-gregorian-datepicker>

      </div> -->

      <div class="form-group col">
        <div class="d-flex">
          <label class=" col  col-form-label">الإيرادات<span class="text-danger">*</span></label>
      
        </div>

 
        <input type="number" class="form-control" name="revenue" placeholder="إجمالي الإيرادات المتحصلة من تشغيل واستثمار وتنمية الوقف"
             formControlName="endowmentrevenue" required>
        <div *ngIf=" form['endowmentrevenue'].errors" class="invalid-feedback">
          <p *ngIf=" form['endowmentrevenue'].errors?.['required']" class="text-danger pt-1 small">الإيرادات مطلوب</p>
        </div>
      </div>

 
      <div class="form-group col-12 m-0 ">
        <label class="col-form-label font-weight-bold" >
          <!-- {{translations.canAcceptDonations}} -->

        </label>
      </div>
      <div class="form-group col">
          <label class="col-form-label" >
            <!-- {{translations.acceptDonations}} -->
          </label>
          <p-inputSwitch formControlName="endowmentacceptDonations"  name="endowmentacceptDonations"></p-inputSwitch>
      </div>
      <div class="form-group col">
          <label class="col-form-label" >
            <!-- {{translations.acceptGivaways}} -->
          </label>
          <p-inputSwitch formControlName="endowmentacceptGiveaways"  name="endowmentacceptGiveaways"></p-inputSwitch>
      </div>

      <div class="form-group col-12"> </div>
 
      <div class="form-group col">
        <label class="col-form-label">منطقة الوقف<span class="text-danger">*</span></label>
        <select class="custom-select"   name="regionId" formControlName="regionId" required     > 
        <!-- (change)="getcityLookup(regionId.value, true)" -->
          <option [value]="null" disabled selected></option>
          <option *ngFor="let region of regions" value={{region.value}}>
            {{region.name}}</option>
        </select>     
        <div *ngIf=" form['regionId'].errors" class="invalid-feedback">
          <p *ngIf=" form['regionId'].errors?.['required']" class="text-danger pt-1 small">منطقة الوقف مطلوب</p>
        </div>
      </div>


      <div class="form-group col">
        <label class="col-form-label">مدينة الوقف<span class="text-danger">*</span></label>
        <select class="custom-select" name="cityId" formControlName="cityId" required>
          <option *ngFor="let city of cityLookup" value={{city.value}}>
            {{city.name}}</option>
        </select>
        <div *ngIf=" form['cityId'].errors" class="invalid-feedback">
          <p *ngIf=" form['cityId'].errors?.['required']" class="text-danger pt-1 small">مدينةالوقف مطلوب</p>
        </div>
      </div>

     

      <div class="form-group col-12">
        <label class="col-form-label">شرط الواقف</label>
        <textarea [rows]="5" cols="10" class="form-control"  name="condition" formControlName="condition">
        </textarea>
        <div *ngIf=" form['condition'].errors" class="invalid-feedback">
          <p *ngIf=" form['condition'].errors?.['required']" class="text-danger pt-1 small">شرط الوقف مطلوب</p>
        </div>
      </div>
    

      <div class="mt-4 col-12">
        <h3 class="text-awq-primary my-3">
 
          معلومات الصك
        </h3>
      </div>

      <div class="form-group col">
        <label class="col-form-label">رقم صك الوقفية<span class="text-danger">*</span></label>
        <input type="text" class="form-control"   name="deedNumber"  
               formControlName="deedNumber"  required>
        <div *ngIf=" form['deedNumber'].errors" class="invalid-feedback">
          <p *ngIf=" form['deedNumber'].errors?.['required']" class="text-danger pt-1 small">رقم صك الوقفية مطلوب</p>
        </div>
      </div>

      
     
<!--
      <div class="form-group col">
        <ng-bootstrap-hijri-gregorian-datepicker 
          [Label]="'تاريخ الصك'"
          [IsRequired]=true
          [min]="minDeedDate"
          [max]="maxDeedDate"
          [(SelectedDate)]="deedDate"
          (SelectedDateChange)="onSakDateChange($event)"  [IsDisabled]="IsDeedDisabled"
          #datePicker
        >
        </ng-bootstrap-hijri-gregorian-datepicker>
      </div>
  -->
  <div class="form-group col">
    <label class="col-form-label">
      <!-- {{translations.deedRegion}} -->
      <span class="text-danger">*</span></label>
    <select class="custom-select"  name="deedRegionId"  
            formControlName=deedRegionId required
            >
      <option [value]="null" disabled selected></option>
      <option *ngFor="let region of  regions" value={{region.value}}>
        {{region.name}}</option>
    </select>
  </div>

      <div class="form-group col">
        <label class="col-form-label">
          <!-- {{translations.deedCity}} -->
          <span class="text-danger">*</span></label>
        <select class="custom-select"  name="deedCityId" formControlName=deedCityId  
                required>
          <option *ngFor="let city of cityLookup" value={{city.value}}>
            {{city.name}}</option>
        </select>
      </div>
 <!--
      <div class="form-group col">
        <label class="col-form-label">{{translations.deedCourt}}<span class="text-danger">*</span></label>
        <select class="custom-select" #issuanceCourtId="ngModel" name="issuanceCourtId" [disabled]="IsDeedDisabled"
                [(ngModel)]=createWaqfInputDto.issuanceCourtId required>
          <option *ngFor="let issuanceCourtItem of lookupService.issuanceCourts" value={{issuanceCourtItem.value}}>
            {{issuanceCourtItem.name}}</option>
        </select>
      </div>

      <div class="form-group col-12">
        <div class="d-flex">
          <label class="col col-form-label">صك الوقفية<span class="text-danger">*</span></label>
          <hint [hintContent]="waqfDeedFilehint?.hintContentAr" [hintTitle]="waqfDeedFilehint?.hintTitleAr"></hint>
        </div>

        <div class="input-group mb-3 download p-2">
          <div class="flex-grow-1">
            <file-uploader
              [showDownloadButton]="true"
              [showDeleteButton]="true"
              [allowedExtensions]="['.pdf']"
              [objects]="[ createWaqfInputDto ]"
              [keys]="['deedAttachmentId']"
              [fileDisplayName]="'صك الوقفية'"
              [serviceTypeId]="requestType.NewWaqf"
            >
            </file-uploader>
          </div>
        </div>
      </div> -->



    </div> <!-- end of dev  class="row row-cols-1 row-cols-md-2 row-cols-lg-3"> -->
  </div>

  <!-- <div class="aw-btn">
    <div>
           <button type="button" class="btn btn-outline-warning" [disabled]="navigationButtonsDisabled" (click)="onSaveDraftClicked()">حفظ ومتابعة لاحقا</button>
      <button type="button" class="btn btn-outline-awq-secondary" [disabled]="navigationButtonsDisabled" (click)="onNextBtnClicked()">التالي</button>
    </div>
    <button type="button" class="btn btn-outline-awq-secondary" [hidden]="!IsCreate" (click)="onBackBtnClicked()">السابق</button> 
  </div>  -->
</form>



